<% set_meta_tags title: "メールの再発行", noindex: true %>
<div class="email-wrapper">
  <div class="side-links-info col-md-3 hidden-xs">
    <%= render "devise/shared/links" %>
  </div>

  <div class="email-sent-wrapper col-md-8">
    <div class="email-sent-main">
      <h2>メールの再送信</h2>
      <%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

    <div class="email">
      <%= f.email_field :email, autofocus: true,placeholder: "メールアドレス", hide_label: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <%= f.submit "送信する", class: "btn btn-success", id: "email-submit" %>
   <% end %>
   <p><span class="fa fa-flag-o"></span>メールが迷惑メールボックスに送信されている可能性がありますので、
     メールが来ないという方は迷惑メールボックスをご確認ください。</p>
  </div>
 </div>
</div>

  <div class="under-links-info visible-xs">
    <%= render "devise/shared/links" %>
  </div>
