  <%= form_for(@comment) do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :post_id %>
    <%= f.hidden_field :from_id, :value => current_user.id %>
    <%= f.hidden_field :to_id, :value => @room.post.user.id %>
    <%= f.hidden_field :room_id, :value => @room.id %>
<div class="room-comment-form-wrap">
  <div class="room-comment-form">
    <div class="room-comment-user">
      <% if current_user.picture.present? %>
      <p><%= image_tag(current_user.picture_url, class: "chat-user-picture" ) %></p>
      <% else %>
      <p><%= image_tag('blank-profile-picture-973460_1280.png', class: "chat-user-picture" ) %></p>
      <% end %>
    </div>
    <p><%= f.text_area :body, id: "comment-text", placeholder: "コメントする..." %></p>
  </div>
  <div class="room-comment-submit">
    <%= f.submit "コメントする", class: "btn btn-success", id: "room-comment-submit" %>
  </div>
<% end %>
</div>
