<div class="all-search">
  <div class="search-modal-wrapper">
      <div class="search-modal">
        <div class="close-modal2">
         <i class="fa fa-2x fa-times" id="close-modal"></i>
        </div>
        <div class="search-main">
          <%= search_form_for(@q, url:search_path) do |f| %>
          <div class="JS-search-pref">
            <%= f.label :prefecture, "都道府県", id: "findfor-label" %></br class="visible-xs">
            <%= f.select :prefecture_eq, options_for_select(@prefecture),  {:include_blank => ""}, {:id => "pref-search-select", :class => 'form-control'} %>
          </div>

          <div class="JS-search-city">
           <%= f.label :city, "市町村名", id: "findfor-label" %></br class="visible-xs">
           <%= f.text_field :city_cont, id: "form-control", class: "font-awesome", placeholder: "\uF002"  %>
          </div>

          <div class="JS-search-day">
            <div class="playday-select"><%= f.label :playday, "練習日", id: "findfor-label" %></br class="visible-xs">
             <%= raw sprintf(f.date_select(:playday_gteq, use_month_numbers: true, start_year:2018, #
          end_year: (Time.now.year),
          :include_blank => true,
          :class => 'form-control',
          date_separator: '%s'),
              '年 ', '月 ') + '日' %></div>から</br class="visible-xs">
             <%= raw sprintf(f.date_select(:playday_lteq, use_month_numbers: true, start_year:2018, #
          end_year: (Time.now.year + 1),
          :include_blank => true,
          date_separator: '%s'),
              '年 ', '月 ') + '日' %></br class="visible-xs">まで
          </div>

          <div class="JS-search-style-label">
            <span>練習内容</span>
          </div>
          <div class="JS-search-style">
            <%= f.radio_button :style_eq, "ラリーなど" %>
            <%= f.label :style_eq, "ラリーなど", value: "ラリーなど" %>

            <%= f.radio_button :style_eq, "シングルス" %>
            <%= f.label :style_eq, "シングルス", value: "シングルス" %>

            <%= f.radio_button :style_eq, "ダブルス" %>
            <%= f.label :style_eq, "ダブルス", value: "ダブルス" %>

            <%= f.radio_button :style_eq, "", checked: true %>
            <%= f.label :style_eq, "すべて", value: "" %>
          </div>
        </br>
          <!-- <div class="JS-search-gender-label">
            <span>性別</span>
          </div>
          <div class="JS-search-gender">
            <%= f.radio_button :gender_eq, "男性" %>
            <%= f.label :gender_eq, "男性", value: "男性" %>

            <%= f.radio_button :gender_eq, "女性" %>
            <%= f.label :gender_eq, "女性", value: "女性" %>

            <%= f.radio_button :gender_eq, "", checked: true %>
            <%= f.label :gender_eq, "すべて", value: "" %>
          </div> -->

           <div class="search-buttom">
             <%= button_tag sanitize('<i class="fa fa-search"></i>'), :type => "submit", id: "search-submit" %>
          </div>
        </div>
    </div>
  </div>
  <% end %>
</div>
