<div class="all-search">
  <div class="search-modal-wrapper">
      <div class="search-modal">
        <div class="close-modal2">
         <i class="fa fa-2x fa-times" id="close-modal"></i>
        </div>
        <div class="search-main">
          <%= search_form_for(@q, url:search_path) do |f| %>

          <h2><i class="fa fa-search"></i>検索条件</h2>


          <div class="JS-search-pref">
            <%= f.label :prefecture, "都道府県", id: "findfor-label" %></br class="visible-xs">
            <%= f.select :prefecture_eq, options_for_select(@prefecture),  {:include_blank => ""}, {:id => "pref-search-select"} %>
          </div>

          <div class="JS-search-city">
           <%= f.label :city, "市町村名", id: "findfor-label" %></br class="visible-xs">
           <%= f.text_field :city_cont, id: "form-control", class: "font-awesome", placeholder: "\uF002"  %>
          </div>


          <div class="JS-search-day">
            <div class="playday-select"><%= f.label :playday, "練習日", id: "findfor-label" %></br class="visible-xs">
             <%= raw sprintf(f.date_select(:playday_gteq, use_month_numbers: true, start_year:2018, #
          end_year: (Time.now.year),
          :include_blank => true,
          date_separator: '%s'),
              '年 ', '月 ') + '日' %></div>から</br class="visible-xs">
             <%= raw sprintf(f.date_select(:playday_lteq, use_month_numbers: true, start_year:2018, #
          end_year: (Time.now.year),
          :include_blank => true,
          date_separator: '%s'),
              '年 ', '月 ') + '日' %></br class="visible-xs">まで
          </div>

            <div class="JS-search-gender">
              <%= f.label :gender, "希望している性別", id: "findfor-label" %></br class="visible-xs">
              <% @j = [["男性", "男性"], ["女性", "女性"], ["どちらの性別でもOK", "どちらの性別でもOK"]] %>
              <%= f.select :gender_eq, options_for_select(@j),  {:include_blank => ""}, {:id => "gender-search-select"} %>
            </div>


          <div class="JS-search-style">
            <%= f.label :style, "当日の練習内容", id: "findfor-label" %></br class="visible-xs">
            <% @j = [["ラリー練習やボレー練習など", "ラリー練習やボレー練習など"],["シングルス", "シングルス"],
                     ["ダブルス", "ダブルス"], ["なんでも良い", "なんでも良い"]] %>
             <%= f.select :style_eq, options_for_select(@j), {:include_blank => ""}, {:id => "style-search-select"} %>
           </div>


           <div class="search-buttom">
             <%= button_tag sanitize('<i class="fa fa-search"></i> 適用'), :type => "submit", id: "search-submit" %>
          </div>
        </div>
    </div>
  </div>

      <% end %>
    </div>
