<% set_meta_tags title: "練習相手を見つける" %>
<div class="find-row">
  <div class="search-area">
    <div class="upper-search-JS">
     <div class="gender-JS" id="search-btn">
       <i class="fa fa-sliders"></i>
     </div>
   </div>
   <%= render 'normals/findfor' %>
  </div>

  <div class="find-container">
    <%= render 'layouts/findPref' %>
    <div class="find-wrapper-p">
      <div class="find-wrapper col-md-9 col-sm-12">
        <%= render 'normals/post-comp3' %>



  <div class="google-ad2">
    <div class="sponsors-link">
      <span>スポンサーリンク</span>
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- playcal-home -->
    <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5276826909376331"
     data-ad-slot="4777220826"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>




  <div class="google-ad3">
    <div class="sponsors-link">
      <span>スポンサーリンク</span>
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- playcal-foot -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5276826909376331"
         data-ad-slot="9544189741"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

        <div class="side-find">
            <div class="inbox2-under-picture">
              <%= link_to 'posting_path' do %>
              <%= image_tag "playcal-p1.jpg", :alt => "募集ページへ" %>
              <% end %>
            </div>
            <div class="inbox2-under-intro">
              <h2>練習相手やチームメンバーを募集してみよう</h2>
              <div class="inbox2-posting-bottom">
                <%= link_to "募集してみる", posting_path, :style=>"color: white;" %>
              </div>
            </div>
        </div>
      </div>

      <div class="google-ad1 col-md-3 hidden-xs">
        <div class="sponsors-link">
          <span>スポンサーリンク</span>
        </div>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- playcal-side -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:600px"
         data-ad-client="ca-pub-5276826909376331"
         data-ad-slot="1679934176"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
      </div>

    </div>

  <div class="google-ad4">
    <div class="sponsors-link">
      <span>スポンサーリンク</span>
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- playcal-home -->
    <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5276826909376331"
     data-ad-slot="4777220826"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div class="google-ad5">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- playcal-footPC -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:970px;height:90px"
       data-ad-client="ca-pub-5276826909376331"
       data-ad-slot="8447391572"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  </div>

    </div>
</div>
