<% set_meta_tags title: "練習相手を見つける" %>
<div class="search-area">
  <div class="upper-search-JS">
   <div class="gender-JS">
     検索条件
   </div>
 </div>
 <%= render 'normals/findfor' %>
</div>

<div class="find-show-title ">
  <p>すべての投稿</p>
</div>

<div class="find-wrapper-p">

  <div class="find-wrapper col-md-9 col-sm-12">
    <div class="find-main">
      <%= @message %>
      <% @posts.each do |post| %>
      <div class="find-post">
        <time datetime="<%= post.created_at %>">
          <p><%= time_ago_in_words(post.created_at) %>前</p>
        </time>
        <div class="find-user-upper">
          <div class="find-post-user">
            <% if post.user.picture.present? %>
            <p><%= image_tag(post.user.picture_url, class: "find-user-picture", :size =>'300x300', :alt => "ユーザーの写真" ) %></p>
            <% else %>
            <p><%= image_tag('blank-profile-picture-973460_1280.png', class: "find-user-picture", :size =>'300x300', :alt => "ユーザーの写真" ) %></p>
            <% end %>
            <p><h2><%= post.title.truncate(25) %></h2></p>
          </div>
            <div class="find-title">
              <%= link_to post.user.name.truncate(8), post.user, class: "find-user-name" %>
            </div>
        </div>
        <div class="find-post-under">
          <div class="post-show-under">
            <div class="post-show-under-left">
              <p><label>都道府県</label></br class="visible-xs"><%= post.prefecture %></p>
              <p><label>都市名</label></br class="visible-xs"><%= post.city %></p>
            </div>
            <div class="post-show-under-right">
              <p><label>練習希望日</label></br class="visible-xs"><%= post.playday %></p>
              <p><label>練習の内容</label></br class="visible-xs"><%= post.style %></p>
            </div>
          </div>
        </div>
        <div class="find-post-detail">
          <%= link_to post, id: "find-post-detail" do %>
          <span>詳細<i class="fa fa-angle-double-right"></i></span>
          <% end %>
        </div>
      </div>
        <% end %>
    </div>
    <div class="side-find">
        <div class="inbox2-under-picture">
          <%= link_to 'posting_path' do %>
          <%= image_tag "adult-1853483_1280.jpg", :alt => "募集ページへ" %>
          <% end %>
        </div>
        <div class="inbox2-under-intro">
          <h2>練習相手やチームメンバーを募集してみよう</h2>
          <div class="inbox2-posting-bottom">
            <%= link_to "募集してみる", posting_path, :style=>"color: white;" %>
          </div>
        </div>
    </div>
  </div>

  <div class="google-ad col-md-3 hidden-xs">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- playcal-side -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-5276826909376331"
     data-ad-slot="1679934176"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>

</div>


<%= will_paginate(@posts, inner_window: 3, previous_label: "前へ", next_label: "次へ", id: "will_paginate") %>

<div class="visible-xs" style="width: 300px; margin: 0 auto;">
<a href="https://hb.afl.rakuten.co.jp/hgc/1759f2a0.792558e7.1759f2a1.1bceaf2c/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fauc-artis%2Fs-5339%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fauc-artis%2Fi%2F10009012%2F&link_type=pict&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0Iiwic2l6ZSI6IjMwMHgzMDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImxlZnQiLCJwcmljZSI6MCwiYm9yIjoxLCJjb2wiOjAsImJidG4iOjF9" target="_blank" rel="nofollow" style="word-wrap:break-word;"  ><img src="https://hbb.afl.rakuten.co.jp/hgb/1759f2a0.792558e7.1759f2a1.1bceaf2c/?me_id=1236731&item_id=10009012&m=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_gold%2Fauc-artis%2Fimage%2Fs5339-5.jpg%3F_ex%3D80x80&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_gold%2Fauc-artis%2Fimage%2Fs5339-5.jpg%3F_ex%3D300x300&s=300x300&t=pict" border="0" style="margin:2px" alt="" title=""></a>
</div>

<div class="hidden-xs">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- playcal-foot -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5276826909376331"
       data-ad-slot="9544189741"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
