<!-- ログイン後の画面 -->
<% if user_signed_in? %>
<div class="top-wrap">
  <div class="top-news">
    <span class="top-news-title">Playcal News</span>
    <p>2018年11月8日 - テニスチャットカフェに「ATPワールドツアー・ファイナルズ」カフェがオープンしました！</p>
  </div>
  <% if Post.where(prefecture: current_user.live).present? %>
  <div class="home-user-prefecture">
    <h1><%= current_user.name %>さんが住む都道府県の募集はこちら</h1>
  </div>
  <%= render 'layouts/loggedinpost1' %>
  <% else %>
  <div class="home-user-prefecture">
    <h1>現在募集している投稿はこちら</h1>
  </div>
  <%= render 'layouts/loggedinpost2' %>
  <% end %>

  <div class="home-section">
    <div class="home-section-1">
      <%= image_tag('playcal-p1.jpg', :alt => "募集写真") %>
      <h2>募集する</h2>
      <p>あなたのヒッティングパートナーやチームメンバーをここで募集してみよう。</p>
    </div>
  <div class="home-section-link1">
    <%= link_to posting_path do %>
    <p>募集する</p>
    <% end %>
  </div>
  <div class="home-section-2">
      <%= image_tag('home-section2-picture.jpeg', :alt => "探す写真") %>
       <h2>探す</h2>
       <p>あなたが練習したい人や、試合をしたいパートナーをここで見つけよう。</p>
    </div>
    <div class="home-section-link2">
      <%= link_to find_path do %>
      <p>探す</p>
      <% end %>
    </div>
  </div>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- playcal-home -->
  <ins class="adsbygoogle"
   style="display:block"
   data-ad-client="ca-pub-5276826909376331"
   data-ad-slot="4777220826"
   data-ad-format="auto"
   data-full-width-responsive="true"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

<div class="hidden-xs">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- playcal -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5276826909376331"
       data-ad-slot="2184444599"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
  <div class="top-chatbox-wrapper">
    <div class="top-chatbox-title">
      <img src="assets/ATPDCAFE2.jpeg", alt="テニスの試合の写真">
      <h2 class="visible-xs"><i class="fa fa-coffee"></i><%= link_to 'テニスチャットカフェ', "/tourlists", :style=>"color: white; font-size: 2.5rem; font-weight: 900;" %></h2>
      <h2 class="hidden-xs"><i class="fa fa-coffee"></i><%= link_to 'テニスチャットカフェ', "/tourlists", :style=>"color: white; font-size: 4rem; font-weight: 600;" %></h2>
    </div>

  <div class="tour-wrapper">
    <div class="tour-now-wrapper">
      <div class="tour-now">
        <p>Open Now !</p>
      </div>
      <div class="top-chatbox-main-now">
        <div class="tour-name-flex-wrapper-label">
          </div>
        <% if @chatboxes.present? %>
        <% @chatboxes.each do |chatbox| %>
          <div class="tour-name-flex-wrapper">
            <div class="tour-name-flex">
              <span><%= image_tag(chatbox.tourlogo, :alt => "テニスの試合の写真") if chatbox.tourlogo.present? %><%= link_to(chatbox.chatname, "/#{chatbox.chatname}", style: "color: #4c4c4c;") %></span>
              <p><i class="fa fa-commenting-o"></i><%= chatbox.chats.count %>件</p>
            </div>
            <div class="tour-info">
              <span id="tourgrade"><i class="fa fa-diamond"></i><%= chatbox.tourgrade %></span>
              <span id="tourcalendar"><i class="fa fa-calendar"></i><%= chatbox.chatterm %></span>
            </div>
          </div>
          <% end %>
          <div class="tour-name-flex-wrapper">
            <div class="tour-name-flex">
              <% compre_cafe = Chatbox.find_by(chatname: "総合テニスチャットカフェ") %>
              <%= link_to "/#{compre_cafe.chatname}" do %>
              <span><%= image_tag("tennisball.png", :alt => "テニスの試合の写真")  %>なんでもテニスチャットカフェ1</span>
              <% end %>
              <p><i class="fa fa-commenting-o"></i><%= compre_cafe.chats.count %>件</p>
            </div>
          </div>
        <% else %>
        <p>現在開催中のツアーはありません</p>
        <% end %>
      </div>
    </div>
  </div>
    <div class="top-chatbox-bottom">
      <p><%= link_to "過去の大会や開催予定の大会はこちら", "/tourlists", style: "color: #ff6666;" %></p>
    </div>
  </div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- playcal-foot -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5276826909376331"
       data-ad-slot="9544189741"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
  <% else %>

  <!-- ログイン前の画面 -->

  <div class="top-wrapper">
    <div class="top-upper">
      <div class="top-section hidden-xs">
        <img src="assets/Playcal-top.jpg", alt="トップ写真">
        <h1>Playcal</h1>
        <h2>「シンプルで楽しく」テニス仲間や練習相手が見つかる！</h2>
        <%= link_to new_user_registration_path do %>
        <p class="visibel-xs" id="top-signup-botton">新規登録</p>
        <% end %>
        <%= link_to new_user_registration_path do %>
        <p class="hidden-xs" id="top-signup-botton">新規登録</p>
        <% end %>
      </div>

      <div class="top-section visible-xs">
        <h1>「シンプルで気軽に」</h1>
        <h2>テニスの練習相手や仲間が見つかる！</h2>
        <div class="home-register-button">
          <div class="home-facebook">
            <%= link_to user_facebook_omniauth_authorize_path do %>
            <p><i class="fa fa-facebook-f"></i>facebookアカウントで登録する</p>
          <% end %>
          </div>
          <div class="home-google">
            <%= link_to user_google_oauth2_omniauth_authorize_path do %>
            <p><i class="fa fa-google"></i>googleアカウントで登録する</p>
            <% end %>
          </div>
          <div class="home-email">
            <%= link_to new_user_registration_path do %>
            <p><i class="fa fa-envelope-o"></i>メールアドレスで登録する</p>
            <% end %>
          </div>
        </div>
      </div>

    </div>
    <div class="sponsors-link">
      <span>スポンサーリンク</span>
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- playcal-foot -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5276826909376331"
         data-ad-slot="9544189741"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <div class="top-news">
    <span class="top-news-title">Playcal News</span>
    <p>2018年11月8日 - テニスチャットカフェに「ATPワールドツアー・ファイナルズ」カフェがオープンしました！</p>
  </div>

    <div class="top-post-title">
      <h2><i class="fa fa-bullhorn"></i>現在募集している投稿</h2>
      <p>※募集中の投稿をランダムで表示しています。</p>
    </div>
    <div class="find-main">
      <%= @message %>
      <% @posts.each do |post| %>
      <div class="find-post1">
        <div class="find-user-upper">
          <div class="find-post-user">
            <% if post.user.picture.present? %>
            <p><%= image_tag(post.user.picture_url, class: "find-user-picture", :size =>'300x300', :alt => "募集者の写真" ) %></p>
            <% else %>
            <p><%= image_tag('blank-profile-picture-973460_1280.png', class: "find-user-picture", :size =>'300x300', :alt => "募集者の写真" ) %></p>
            <% end %>
            <%= link_to new_user_session_path do %>
            <p><h2><%= post.title.truncate(25) %></h2></p>
            <% end %>
          </div>
          <div class="find-title">
            <%= link_to post.user.name.truncate(8), post.user, class: "find-user-name" %>
          </div>
          <div id="post_likes_<%= post.id %>">
            <%= render partial: 'likes/postLikes', locals: {post: post} %>
          </div>
        </div>
        <div class="find-post-under">
          <div class="post-show-under">
            <div class="post-show-under-left">
              <p><label>都道府県</label></br class="visible-xs"><%= post.prefecture %></p>
              <p><label>都市名</label></br class="visible-xs"><%= post.city %></p>
            </div>
            <div class="post-show-under-right">
              <p><label>練習希望日</label></br class="visible-xs"><%= post.playday %></p>
              <p><label>練習の内容</label></br class="visible-xs"><%= post.style.truncate(9) %></p>
            </div>
          </div>
        </div>
        <div class="find-post-detail">
          <%= link_to post, id: "find-post-detail" do %>
          <span>詳細<i class="fa fa-angle-double-right"></i></span>
          <% end %>
        </div>
      </div>
        <% end %>
    </div>

    <div class="top-under">
         <div class="top-under-main">
           <h2>練習相手を探してみる</h2>
           <%= link_to find_path do %>
           <%= image_tag("borkum-84281_1280.jpg", :alt => "探すページ")  %>
           <% end %>
        </div>
        <div class="top-under-sub">
          <p>ここではあなたの近くに住むテニスの練習相手を見つけることが出来ます。</br>また、性別、技術レベル、日にち、ダブルスかシングルスかなど、
          あなたが望むベストな日程と練習内容、そして練習相手を見つけることが可能です。</p>
          <div class="top-under-find hidden-xs">
            <%= link_to find_path do %>
            <p>探してみる</p>
            <% end %>
          </div>
        </div>
        <div class="top-under-find visible-xs">
          <%= link_to find_path do %>
          <p>探してみる</p>
          <% end %>
        </div>
    </div>

    <div class="sponsors-link">
      <span>スポンサーリンク</span>
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- playcal-home -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5276826909376331"
     data-ad-slot="4777220826"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


      <div class="top-chatbox-wrapper">
        <div class="top-chatbox-title">
          <img src="assets/ATPDCAFE2.jpeg", alt="テニスの試合の写真">
          <h2 class="visible-xs"><i class="fa fa-coffee"></i><%= link_to 'テニスチャットカフェ', "/tourlists", :style=>"color: white; font-size: 2.5rem; font-weight: 900;" %></h2>
          <h2 class="hidden-xs"><i class="fa fa-coffee"></i><%= link_to 'テニスチャットカフェ', "/tourlists", :style=>"color: white; font-size: 5rem; font-weight: 600;" %></h2>
        </div>
        <div class="top-chatbox-sub">
          <p>テニスチャットカフェではグランドスラムやATP1000など、
            試合ごとの掲示板でPlaycalの登録者同士で好きな選手を応援しあったり、語り合ったりする場です！</p>
            <p>あなたもテニス好きな人達とテニスチャットカフェで語り合おう。</p>
        </div>

      <div class="tour-wrapper">
        <div class="tour-now-wrapper">
          <div class="tour-now">
            <p>Open Now !</p>
          </div>
          <div class="top-chatbox-main-now">
            <div class="tour-name-flex-wrapper-label">
              </div>
            <% if @chatboxes.present? %>
            <% @chatboxes.each do |chatbox| %>
              <div class="tour-name-flex-wrapper" id="tour-name-flex-wrapper">
                <div class="tour-name-flex">
                  <span><%= image_tag(chatbox.tourlogo, :alt => "テニスの試合の写真") if chatbox.tourlogo.present? %><%= link_to(chatbox.chatname, "/#{chatbox.chatname}", style: "color: #4c4c4c;") %></span>
                  <p><i class="fa fa-commenting-o"></i><%= chatbox.chats.count %>件</p>
                </div>
                <div class="tour-info">
                  <span id="tourgrade"><i class="fa fa-diamond"></i><%= chatbox.tourgrade %></span>
                  <span id="tourcalendar"><i class="fa fa-calendar"></i><%= chatbox.chatterm %></span>
                </div>
              </div>
              <% end %>

              <div class="tour-name-flex-wrapper">
                <div class="tour-name-flex">
                  <% compre_cafe = Chatbox.find_by(chatname: "総合テニスチャットカフェ") %>
                  <%= link_to "/#{compre_cafe.chatname}" do %>
                  <span><%= image_tag("tennisball.png", :alt => "テニスの試合の写真")  %>なんでもテニスチャットカフェ1</span>
                  <% end %>
                  <p><i class="fa fa-commenting-o"></i><%= compre_cafe.chats.count %>件</p>
                </div>
              </div>
            <% else %>
            <p>現在開催中のツアーはありません</p>
            <% end %>
          </div>
        </div>
      </div>

        <div class="top-chatbox-bottom">
          <%= link_to tourlists_path do %>
          <p>過去の大会や開催予定の大会はこちら</p>
          <% end %>
        </div>
      </div>


    <div class="sponsors-link">
      <span>スポンサーリンク</span>
    </div>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- playcal-foot -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-5276826909376331"
           data-ad-slot="9544189741"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

  </div>
  <script>
  function init() {
    const px_change = 450;
    $('.navbar-fixed-top').addClass('header-scr2');
    $('.logo').css('color', '#fff');
    $('.dropdown-hamberger').css('color', '#fff');
    window.addEventListener('scroll', function(e) {
      if ($(window).scrollTop() > px_change) {
       $('.logo').css('color', '#9cd75b');
       $('.navbar-fixed-top').addClass('header-scr');
       $('.navbar-fixed-top').css('background', 'transparent');
       $('.dropdown-hamberger').css('color', '#4c4c4c');
       $('header').css('box-shadow', '-1px 1px 1px rgba(0,0,0,0.1)');
     } else if ($('.navbar-fixed-top').hasClass('header-scr')) {
       $('.logo').css('color', '#fff');
       $('.navbar-fixed-top').removeClass('header-scr');
       $('.navbar-fixed-top').css('background', '');
       $('.navbar-fixed-top').addClass('header-scr2');
       $('.dropdown-hamberger').css('color', '#fff');
       $('header').css('box-shadow', '');
     }
    })
  }
  window.onload = init();
  </script>
<% end %>
