<% if user_signed_in? %>
<div class="top-news">
<span class="top-news-title">Playcal News</span>
<p>2018年10月18日 - Playcalに「ATPワールドツアー・チャットカフェ」が開店しました！</p>
</div>

<% if Post.where(prefecture: current_user.live).present? %>
<div class="top-user-prefecture">
  <h2><%= current_user.name %>さんが住む都道府県の募集はこちら</h2>
</div>
<%= render 'layouts/loggedinpost1' %>
<% else %>
<div class="top-user-prefecture">
  <h2>現在募集している投稿はこちら</h2>
</div>
<%= render 'layouts/loggedinpost2' %>
<% end %>

<div class="home-section">
  <div class="home-section-1">
    <%= image_tag('adult-1853483_1280.jpg', :alt => "募集写真") %>
    <h2>募集する</h2>
    <p>あなたのヒッティングパートナーやチームメンバーをここで募集してみよう。</p>
  </div>
  <div class="home-section-link1">
    <%= link_to posting_path do %>
    <p>募集する</p>
    <% end %>
  </div>
  <div class="home-section-2">
    <%= image_tag('home-section2-picture.jpeg', :alt => "探す写真") %>
    <h2>探す</h2>
    <p>あなたが練習したい人や、試合をしたいパートナーをここで見つけよう。</p>
  </div>
  <div class="home-section-link1">
    <%= link_to find_path do %>
    <p>探す</p>
    <% end %>
  </div>
</div>

<div class="top-chatbox-wrapper">
  <div class="top-chatbox-title">
    <img src="assets/ATPtour.jpeg", alt="テニスの試合写真">
    <h2 class="visible-xs"><i class="fa fa-coffee"></i><%= link_to 'ATPワールドツアーチャットカフェ', "/tourlists", :style=>"color: white; font-size: 3rem; font-weight: 600;" %></h2>
    <h2 class="hidden-xs"><i class="fa fa-coffee"></i><%= link_to 'ATPワールドツアーチャットカフェ', "/tourlists", :style=>"color: white; font-size: 4rem; font-weight: 600;" %></h2>
  </div>
  <div class="top-chatbox-under">
    <div class="top-chatbox-now">
      <p><i class="fa fa-comments-o"></i>現在オープン中のATPワールドツアーチャット</p>
    </div>
    <div class="top-chatbox-main">
      <% @chatboxes.each do |chatbox| %>
      <div class="top-chatbox-name">
        <span><%= image_tag("ATPLOGO.png", :alt => "探す写真") %><%= link_to(chatbox.chatname, "/#{chatbox.chatname}", style: "color: #5f9ea0;") %></span>
        <span><i class="fa fa-comments-o"></i><%= chatbox.chats.count %>件</span>
      </div>
      <p>大会期間: <%= chatbox.chatterm %></p>
      <% end %>
    </div>
  </div>
  <div class="top-chatbox-bottom">
    <p><%= link_to "過去の大会や開催予定の大会はこちら", "/tourlists", style: "color: #ff6666;" %></p>
  </div>
</div>

  <% else %>
  <div class="login-modal-dieplay hidden-xs">
    <%= render 'devise/sessions/new' %>
  </div>

  <div class="top-wrapper">
    <div class="top-upper">
      <div class="top-section">
        <img src="assets/shoes-614176_1280.jpg", alt="トップ写真">
        <h1>Playcal</h1>
        <h2>「シンプルで楽しく」テニス仲間や練習相手が見つかる！</h2>
        <p><%= link_to '登録無料', new_user_registration_path, :style=>"color: white; font-size: 17px;" %></p>
      </div>
    </div>

    <div class="top-news">
    <span class="top-news-title">Playcal News</span>
    <p>2018年10月18日 - Playcalに「ATPワールドツアー・チャットカフェ」が開店しました！</p>
  </div>

    <div class="top-post-title">
      <h2><i class="fa fa-bullhorn"></i>現在募集している投稿</h2>
      <p>※募集中の投稿をランダムで表示しています。</p>
    </div>
    <div class="find-main">
      <%= @message %>
      <% @posts.each do |post| %>
      <div class="find-post1">
        <div class="find-user-upper">
          <div class="find-post-user">
            <% if post.user.picture.present? %>
            <p><%= image_tag(post.user.picture_url, class: "find-user-picture", :size =>'300x300', :alt => "募集者の写真" ) %></p>
            <% else %>
            <p><%= image_tag('blank-profile-picture-973460_1280.png', class: "find-user-picture", :size =>'300x300', :alt => "募集者の写真" ) %></p>
            <% end %>
            <p><h2><%= post.title.truncate(25) %></h2></p>
          </div>
            <div class="find-title">
              <%= link_to post.user.name.truncate(8), post.user, class: "find-user-name" %>
            </div>
            <div class="find-post-detail">
              <%= link_to "詳細を見る", post, id: "find-post-detail" %>
            </div>
        </div>
        <div class="find-post-under">
          <div class="post-show-under">
            <div class="post-show-under-left">
              <p><label>都道府県</label></br class="visible-xs"><%= post.prefecture %></p>
              <p><label>都市名</label></br class="visible-xs"><%= post.city %></p>
            </div>
            <div class="post-show-under-right">
              <p><label>練習希望日</label></br class="visible-xs"><%= post.playday %></p>
              <p><label>練習の内容</label></br class="visible-xs"><%= post.style %></p>
            </div>
          </div>
        </div>
      </div>
        <% end %>
    </div>



  <div class="top-chatbox-wrapper">
    <div class="top-chatbox-title">
      <img src="assets/ATPtour.jpeg", alt="テニスの試合の写真">
      <h2 class="visible-xs"><i class="fa fa-coffee"></i><%= link_to 'ATPワールドツアーチャットカフェ', "/tourlists", :style=>"color: white; font-size: 3rem; font-weight: 900;" %></h2>
      <h2 class="hidden-xs"><i class="fa fa-coffee"></i><%= link_to 'ATPワールドツアーチャットカフェ', "/tourlists", :style=>"color: white; font-size: 4rem; font-weight: 600;" %></h2>

    </div>
    <div class="top-chatbox-under">
      <div class="top-chatbox-now">
        <p><i class="fa fa-comments-o"></i>現在オープン中のATPチャットカフェ</p>
      </div>
      <div class="top-chatbox-main">
        <% @chatboxes.each do |chatbox| %>
        <div class="top-chatbox-name">
          <span><%= image_tag("ATPLOGO.png", :alt => "ATPロゴ") %><%= link_to(chatbox.chatname, "/#{chatbox.chatname}", style: "color: #5f9ea0;") %></span>
          <span><i class="fa fa-comments-o"></i><%= chatbox.chats.count %>件</span>
        </div>
        <p>大会期間: <%= chatbox.chatterm %></p>
        <% end %>
      </div>
    </div>
    <div class="top-chatbox-bottom">
      <p><%= link_to "過去の大会や開催予定の大会はこちら", "/tourlists", style: "color: #ff6666;" %></p>
    </div>
  </div>


    <div class="top-under">
         <div class="top-under-main">
           <h2>練習相手を探してみる</h2>
           <%= link_to find_path do %>
           <%= image_tag("borkum-84281_1280.jpg", :alt => "探すページ")  %>
           <% end %>
        </div>
        <div class="top-under-sub">
          <p>ここではあなたの近くに住むテニスの練習相手を見つけることが出来ます。</br>また、性別、技術レベル、日にち、ダブルスかシングルスかなど、
          あなたが望むベストな日程と練習内容、そして練習相手を見つけることが可能です。</p>
        </div>
        <div class="top-under-find visible-xs">
          <%= link_to find_path do %>
          <p>探してみる</p>
          <% end %>
        </div>
    </div>
  </div>
<% end %>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- playcal-foot -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5276826909376331"
     data-ad-slot="9544189741"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
