<div class="inbox-wrapper">

  <div class="inbox-mail-wrapper col-md-3 col-sm-8">
    <div class="inbox-title visible-xs">
        <h1><i class="fa fa-envelope-o"></i>受信メッセージ</h1>
     </div>
    <div class="inbox-mail-main">
      <div class="inbox-maiil-title">
        <h2>メッセージボックス</h2>
      </div>
      <div class="inbox-mail-sent">
        <h2><i class="fa fa-paper-plane-o"></i><%= link_to("送信済みメッセージ", "/outbox") %></h2>
      </div>
      <div class="inbox-mail-recieved">
        <h2><i class="fa fa-envelope-o"></i><%= link_to("受信済みメッセージ", "/inbox") %></h2>
      </div>
    </div>
  </div>

<div class="inbox-sent-wrapper col-md-8 col-sm-8">
  <div class="inbox-title hidden-xs">
      <h1><i class="fa fa-envelope-o"></i>受信メッセージ</h1>
   </div>
      <% @posts.each do |post| %>
      <% post.comments.group('comments.id').where(to_id: current_user.id).group('from_id').each do |comment| %>

        <% if comment.room.present? && comment.user != current_user %>
      <div class="inbox-main-wrapper">
        <div class="inbox-main">
          <div class="inbox-post-left">
            <div class="inbox-post-picture">
              <% if  comment.user.picture.present? %>
              <p><%= link_to image_tag(comment.user.picture_url, id: "inbox-user-picture"), "/users/#{comment.user.id}" %></p>
              <% else %>
              <p><%= image_tag('blank-profile-picture-973460_1280.png', id: "inbox-user-picture") %></p>
              <% end %>
            </div>
            <div class="inbox-post-name">
              <p><%= link_to(comment.user.name, "/rooms/#{comment.room.id}") %></p>
            </div>
           </div>
          <div class="inbox-content">
            <h2><%= link_to(comment.post.title, comment.room)%></h2>
            <h3><%= comment.post.content %></h3>
            <% comment.room.comments.order(created_at: :desc).limit(1).each do |k| %>
            <p><%= k.created_at.strftime('%Y/%m/%d %H:%M') %>にメッセージ</p>
            <% end %>
          </div>
          <div class="inbox-time">
            <% if comment.room.comments.where(from_id: current_user).present? %>
             <P><h2>返信済み</h2></p>
             <i class="fa fa-check"></i>
             <% else %>
             <P><h2>未返信</h2></p>
               <% end %>
         </div>
       </div>
     </div>
  <% end %>
  <% end %>
  <% end %>
  </div>


<% no_comment = @posts.select do |i| %>
  <% i.comments != [] %>
  <% end %>
  <% if @posts.present? && no_comment.blank? %>
   <div class="inbox-no-message1 col-md-8 col-sm-8">
      <div class="inbox2-main">
        <h2>メッセージは0件です</h2>
      </div>

      <div class="inbox2-under">
        <div class="inbox2-under-picture">
          <%= link_to 'posting_path' do %>
          <%= image_tag("adult-1853483_1280.jpg") %>
          <% end %>
        </div>
        <div class="inbox2-under-intro">
          <h2>練習相手やチームメンバーを募集してみよう</h2>
          <div class="inbox2-posting-bottom">
            <%= link_to "募集してみる", posting_path, :style=>"color: white;" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if @posts.empty? %>
  <div class="inbox-no-message1 col-md-8 col-sm-8">
     <div class="inbox2-main">
       <h2>メッセージは0件です</h2>
     </div>

     <div class="inbox2-under">
       <div class="inbox2-under-picture">
         <%= link_to 'posting_path' do %>
         <%= image_tag("adult-1853483_1280.jpg") %>
         <% end %>
       </div>
       <div class="inbox2-under-intro">
         <h2>練習相手やチームメンバーを募集してみよう</h2>
         <div class="inbox2-posting-bottom">
           <%= link_to "募集してみる", posting_path, :style=>"color: white;" %>
         </div>
       </div>
     </div>
   <% end %>
  </div>

  </div>
