<div class="inbox-wrapper">

  <div class="inbox-mail-wrapper col-md-3 col-sm-3">
    <div class="inbox-title visible-xs">
        <h1><i class="fa fa-envelope-o"></i>送信ボックス</h1>
     </div>
    <div class="inbox-mail-main">
      <div class="inbox-mail-title">
        <h2>メッセージボックス</h2>
      </div>
      <div class="inbox-mail-sent">
        <h2><i class="fa fa-paper-plane-o"></i><%= link_to("送信済みメッセージ", "/outbox") %></h2>
      </div>
      <div class="inbox-mail-recieved">
        <h2><i class="fa fa-envelope-o"></i><%= link_to("受信済みメッセージ", "/inbox") %></h2>
      </div>
    </div>
  </div>

<div class="inbox-sent-wrapper col-md-8 col-sm-8">
  <div class="inbox-title hidden-xs">
      <h1><i class="fa fa-envelope-o"></i>送信メッセージ</h1>
   </div>
   <div class="message-change">
     <div class="reply">
       <p>すべて(<%= Room.where(from_id: current_user.id).select{|i| i.comments.present?}.count %>)</p>
     </div>
     <div class="no-reply">
       <% if Room.where(from_id: current_user.id).select{|i| i.comments}.present?  %>
       <p>返信あり(<%= Room.where(from_id: current_user.id).select{|i| i.comments.present? && i.comments.last.user != current_user}.count %>)</p>
       <% else %>
       <p>返信あり(0)</P>
         <% end %>
     </div>
   </div>
   <% Room.where(from_id: current_user.id).order(updated_at: :desc).each do |room| %>
    <% if room.present? && room.comments.present? %>
     <% if room.comments.first.user == current_user %>
      <div class="inbox-main-wrapper1">
        <div class="inbox-main">
          <div class="inbox-post-left">
            <div class="inbox-post-picture">
            <% if room.post.user.picture.present? %>
            <p><%= image_tag(room.post.user.picture_url, id: "inbox-user-picture") %></p>
            <% else %>
            <p><%= image_tag('blank-profile-picture-973460_1280.png', id: "inbox-user-picture") %></p>
            <% end %>
            </div>
            <div class="inbox-post-name">
              <p><%= link_to(room.post.user.name.truncate(8), room.post.user) %></p>
            </div>
           </div>
          <div class="inbox-content">
            <h2><i class="fa fa-commenting-o"></i><%= link_to(room.comments.last.body.truncate(15), room) %></h2>
            <h3><%= room.post.title.truncate(8) %></h3>
            <% room.comments.order(created_at: :desc).limit(1).each do |k| %>
            <p><%= k.created_at.strftime('%Y/%m/%d %H:%M') %>にメッセージ</p>
            <% end %>
          </div>
       </div>
     </div>
     <% end %>
     <% end %>

     <% if room.post.present? && room.comments.present? %>
     <% if room.comments.first.user == current_user && room.comments.last.user != current_user %>
     <div class="inbox-main-wrapper2">
       <div class="inbox-main">
         <div class="inbox-post-left">
           <div class="inbox-post-picture">
           <% if room.post.user.picture.present? %>
           <p><%= image_tag(room.post.user.picture_url, id: "inbox-user-picture") %></p>
           <% else %>
           <p><%= image_tag('blank-profile-picture-973460_1280.png', id: "inbox-user-picture") %></p>
           <% end %>
           </div>
           <div class="inbox-post-name">
             <p><%= link_to(room.post.user.name.truncate(8), room.post.user) %></p>
           </div>
          </div>
         <div class="inbox-content">
           <h2><i class="fa fa-commenting-o"></i><%= link_to(room.comments.last.body.truncate(15), room) %></h2>
           <h3><%= room.post.title.truncate(8) %></h3>
           <% room.comments.order(created_at: :desc).limit(1).each do |k| %>
           <p><%= k.created_at.strftime('%Y/%m/%d %H:%M') %>にメッセージ</p>
           <% end %>
         </div>
      </div>
    </div>
  <% end %>
  <% end %>
  <% end %>
 </div>
 <script src="post.js"></script>

<% if @comments.where(to_id: other_user.ids) == [] %>
  <div class="inbox-no-message1 col-md-8 col-sm-8">
     <div class="inbox2-main">
       <h2>送信履歴はありません。</h2>
     </div>

     <div class="inbox2-under">
       <div class="inbox2-under-picture">
         <%= link_to posting_path do %>
         <%= image_tag("borkum-84281_1280.jpg") %>
         <% end %>
       </div>
       <div class="inbox2-under-intro">
         <h2>練習相手やヒッティングパートナーをここで探してみよう!</h2>
         <div class="inbox2-posting-bottom">
           <%= link_to "探してみる", find_path, :style=>"color: white;" %>
         </div>
       </div>
     </div>
  </div>
<% end %>

</div>
