<div class="search-area">
  <div class="upper-search-JS">
   <div class="gender-JS">
     検索条件
   </div>
 </div>
 <%= render 'normals/findfor' %>
</div>


<div class="pref-show-title ">
  <% if @word.present? %>
  <p><i class="fa fa-tags"></i><span style="color: #5f9ea0; font-size: 17px;"><%= @word  %></span>に関する投稿
    <% end %>

    <% if @prefectures.present? %>
    <p><i class="fa fa-tags"></i><span style="color: #5f9ea0; font-size: 17px;"><%= @prefectures  %></span>の投稿
    <% end %>

</div>

<div class="find-wrapper">
  <div class="find-main">
    <%= @message %>
    <% @posts.each do |post| %>
    <div class="find-post">
      <div class="find-user-upper">
        <div class="find-post-user">
          <p><%= image_tag(post.user.picture_url, class: "find-user-picture", :size =>'300x300' ) if post.user.picture.present? %></p>
          <p><h2><%= post.title %></h2></p>
        </div>
          <div class="find-title">
            <%= link_to post.user.name, post.user, class: "find-user-name" %>
          </div>
          <div class="find-post-detail">
            <%= link_to "詳細を見る", post, id: "find-post-detail" %>
          </div>
      </div>
      <div class="find-post-under">
        <div class="post-show-under">
          <div class="post-show-under-left">
            <p><label>都道府県</label></br class="visible-xs"><%= post.prefecture %></p>
            <p><label>地域名の詳細</label></br class="visible-xs"><%= post.city %></p>
          </div>
          <div class="post-show-under-right">
            <p><label>練習希望日</label></br class="visible-xs"><%= post.playday %></p>
            <p><label>練習の内容</label></br class="visible-xs"><%= post.style %></p>
          </div>
        </div>
      </div>
    </div>
      <% end %>
  </div>
  <div class="side-find">
      <div class="inbox2-under-picture">
        <%= link_to 'posting_path' do %>
        <%= image_tag "https://cdn.pixabay.com/photo/2016/11/23/15/22/adult-1853483_1280.jpg" %>
        <% end %>
      </div>
      <div class="inbox2-under-intro">
        <h2>練習相手やチームメンバーを募集してみよう</h2>
        <div class="inbox2-posting-bottom">
          <%= link_to "募集してみる", posting_path, :style=>"color: white;" %>
        </div>
      </div>
  </div>
</div>



<%= will_paginate(@posts, inner_window: 3, previous_label: "前へ", next_label: "次へ", id: "will_paginate") %>
