<% set_meta_tags title: "探す" %>
<div class="search-area">
  <div class="upper-search-JS">
   <div class="gender-JS">
     検索条件
   </div>
 </div>
 <%= render 'normals/findfor' %>
</div>


<div class="searched-info">
  <h3>検索条件</h3>
      <div class="searched-main">
        <% if @start_date.present? && @start_date2.present? && @start_date3.present? %>
        <div id="searched-main"><i class="hash">#</i><span style="color: #5f9ea0; font-size: 14px;"><%= @start_date + "年" + @start_date2 + "月" + @start_date3 + "日から"  %></span></div>
        <% end %>
        <% if @end_date.present? && @end_date2.present? && @end_date3.present? %>
        <div id="searched-main"><i class="hash">#</i><span style="color: #5f9ea0; font-size: 14px;"><%= @end_date + "年" + @end_date2 + "月" + @end_date3 + "日まで"  %></span></div>
        <% end %>
        <% if @word.present? %>
        <div id="searched-main"><i class="hash">#</i><span style="color: #5f9ea0; font-size: 14px;"><%= @word  %></span></div>
        <% end %>
        <% if @prefectures.present? %>
        <div id="searched-main"><i class="hash">#</i><span style="color: #5f9ea0; font-size: 14px;"><%= @prefectures  %></span></div>
        <% end %>
        <% if @gender.present? %>
        <div id="searched-main"><i class="hash">#</i><span style="color: #5f9ea0; font-size: 14px;"><%= @gender  %></span></div>
        <% end %>
        <% if @style.present? %>
        <div id="searched-main"><i class="hash">#</i><span style="color: #5f9ea0; font-size: 14px;"><%= @style  %></span></div>
        <% end %>
        <% if @start_date.blank? && @start_date2.blank? && @start_date3.blank? &&
          @end_date.blank? && @end_date2.blank? && @end_date3.blank? && @word.blank? && @prefectures.blank? && @gender.blank? && @style.blank? %>
          <div id="searched-main"><i class="hash">#</i><span style="color: #5f9ea0; font-size: 14px;"><%= "すべての投稿"  %></span></div>
          <% end %>
      </div>
    </div>

    <div class="searched-message">
      <% if @posts.empty? %>
      <h2><i class="fa fa-frown-o"></i>その条件に合う投稿はありません</h2>
      <% end %>
    </div>

<div class="find-wrapper-p">
 <div class="find-wrapper col-md-8 col-sm-12">
  <div class="find-main">
    <%= @message %>
    <% @posts.each do |post| %>
    <div class="find-post">
      <time datetime="<%= post.created_at %>">
        <p><%= time_ago_in_words(post.created_at) %>前</p>
      </time>
      <div class="find-user-upper">
        <div class="find-post-user">
         <% if post.user.picture.present? %>
          <p><%= image_tag(post.user.picture_url, class: "find-user-picture", :size =>'300x300' ) %></p>
          <% else %>
          <p><%= image_tag('blank-profile-picture-973460_1280.png', class: "find-user-picture", :size =>'300x300' ) %></p>
          <% end %>
          <p><h2><%= post.title.truncate(25) %></h2></p>
        </div>
          <div class="find-title">
            <%= link_to post.user.name.truncate(8), post.user, class: "find-user-name" %>
          </div>
      </div>
      <div class="find-post-under">
        <div class="post-show-under">
          <div class="post-show-under-left">
            <p><label>都道府県</label></br class="visible-xs"><%= post.prefecture %></p>
            <p><label>都市名</label></br class="visible-xs"><%= post.city %></p>
          </div>
          <div class="post-show-under-right">
            <p><label>練習希望日</label></br class="visible-xs"><%= post.playday %></p>
            <p><label>練習の内容</label></br class="visible-xs"><%= post.style %></p>
          </div>
        </div>
      </div>
      <div class="find-post-detail">
        <%= link_to post, id: "find-post-detail" do %>
        <span>詳細<i class="fa fa-angle-double-right"></i></span>
        <% end %>
      </div>
    </div>
      <% end %>
      <%= will_paginate(@posts, inner_window: 3, previous_label: "前へ", next_label: "次へ", id: "will_paginate") %>
  </div>
  <div class="side-find">
      <div class="inbox2-under-picture">
        <%= link_to 'posting_path' do %>
        <%= image_tag "adult-1853483_1280.jpg", :alt => "募集ページへ" %>
        <% end %>
      </div>
      <div class="inbox2-under-intro">
        <h2>練習相手やチームメンバーを募集してみよう</h2>
        <div class="inbox2-posting-bottom">
          <%= link_to "募集してみる", posting_path, :style=>"color: white; font-size: 16px; font-weight: 600;" %>
        </div>
      </div>
  </div>
</div>
<div class="google-ad col-md-3 hidden-xs">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- playcal-side -->
<ins class="adsbygoogle"
   style="display:inline-block;width:300px;height:600px"
   data-ad-client="ca-pub-5276826909376331"
   data-ad-slot="1679934176"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- playcal-home -->
<ins class="adsbygoogle"
 style="display:block"
 data-ad-client="ca-pub-5276826909376331"
 data-ad-slot="4777220826"
 data-ad-format="auto"
 data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div class="hidden-xs">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- playcal-foot -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5276826909376331"
       data-ad-slot="9544189741"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
