<% set_meta_tags title: "探す" %>
<div class="find-row">
  <div class="search-area">
    <div class="upper-search-JS">
     <div class="gender-JS">
       <i class="fa fa-sliders"></i>
     </div>
   </div>
   <%= render 'normals/findfor' %>
  </div>

  <div class="search-nav">

    <%= link_to find_path do %>
    <span>戻る</span>
    <% end %>
  </div>
  <div class="searched-info">
    <h3>検索条件</h3>
        <div class="searched-main">
          <% if @start_date.present? && @start_date2.present? && @start_date3.present? %>
          <div id="searched-main"><i class="hash">#</i><span style="color: #5f9ea0; font-size: 14px;"><%= @start_date + "年" + @start_date2 + "月" + @start_date3 + "日から"  %></span></div>
          <% end %>
          <% if @end_date.present? && @end_date2.present? && @end_date3.present? %>
          <div id="searched-main"><i class="hash">#</i><span style="color: #5f9ea0; font-size: 14px;"><%= @end_date + "年" + @end_date2 + "月" + @end_date3 + "日まで"  %></span></div>
          <% end %>
          <% if @word.present? %>
          <div id="searched-main"><i class="hash">#</i><span style="color: #5f9ea0; font-size: 14px;"><%= @word  %></span></div>
          <% end %>
          <% if @prefectures.present? %>
          <div id="searched-main"><i class="hash">#</i><span style="color: #5f9ea0; font-size: 14px;"><%= @prefectures  %></span></div>
          <% end %>
          <% if @gender.present? %>
          <div id="searched-main"><i class="hash">#</i><span style="color: #5f9ea0; font-size: 14px;"><%= @gender  %></span></div>
          <% end %>
          <% if @style.present? %>
          <div id="searched-main"><i class="hash">#</i><span style="color: #5f9ea0; font-size: 14px;"><%= @style  %></span></div>
          <% end %>
          <% if @start_date.blank? && @start_date2.blank? && @start_date3.blank? &&
            @end_date.blank? && @end_date2.blank? && @end_date3.blank? && @word.blank? && @prefectures.blank? && @gender.blank? && @style.blank? %>
            <div id="searched-main"><i class="hash">#</i><span style="color: #5f9ea0; font-size: 14px;"><%= "すべての投稿"  %></span></div>
            <% end %>
        </div>
      </div>

      <div class="searched-message">
        <% if @posts.empty? %>
        <h2><i class="fa fa-frown-o"></i>その条件に合う投稿はありません</h2>
        <% end %>
      </div>

  <div class="find-wrapper-p">
   <div class="find-wrapper col-md-8 col-sm-12">
     <%= render 'normals/post-comp3' %>

    <div class="google-ad2">
      <div class="sponsors-link">
        <span>スポンサーリンク</span>
      </div>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- playcal-home -->
      <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5276826909376331"
       data-ad-slot="4777220826"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>


    <div class="google-ad3">
      <div class="sponsors-link">
        <span>スポンサーリンク</span>
      </div>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- playcal-foot -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-5276826909376331"
           data-ad-slot="9544189741"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    <div class="side-find">
        <div class="inbox2-under-picture">
          <%= link_to 'posting_path' do %>
          <%= image_tag "playcal-p1.jpg", :alt => "募集ページへ" %>
          <% end %>
        </div>
        <div class="inbox2-under-intro">
          <h2>練習相手やチームメンバーを募集してみよう</h2>
          <div class="inbox2-posting-bottom">
            <%= link_to "募集してみる", posting_path, :style=>"color: white; font-size: 16px; font-weight: 600;" %>
          </div>
        </div>
    </div>
  </div>

  <div class="google-ad1 col-md-3 hidden-xs">
    <div class="sponsors-link">
      <span>スポンサーリンク</span>
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- playcal-side -->
  <ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-5276826909376331"
     data-ad-slot="1679934176"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  </div>

  <div class="google-ad4">
    <div class="sponsors-link">
      <span>スポンサーリンク</span>
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- playcal-home -->
    <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5276826909376331"
     data-ad-slot="4777220826"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  </div>
</div>

<script type="text/javascript">
$(function(){
	var _touch = ('ontouchstart' in document) ? 'touchstart' : 'click';
	$('.pref-btn1').on(_touch, function(){
		$('.find-pref-button1').toggleClass('dropdown_toggle').children('.find-pref-1').slideToggle(400);
    $('.find-pref-button1').toggleClass('find-pref-btn-shadow');
	});
});

$(function(){
	var _touch = ('ontouchstart' in document) ? 'touchstart' : 'click';
	$('.pref-btn2').on(_touch, function(){
		$('.find-pref-button2').toggleClass('dropdown_toggle').children('.find-pref-2').slideToggle(400);
    $('.find-pref-button2').toggleClass('find-pref-btn-shadow');
	});
});

$(function(){
	var _touch = ('ontouchstart' in document) ? 'touchstart' : 'click';
	$('.pref-btn3').on(_touch, function(){
		$('.find-pref-button3').toggleClass('dropdown_toggle').children('.find-pref-3').slideToggle(400);
    $('.find-pref-button3').toggleClass('find-pref-btn-shadow');
	});
});

$(function(){
	var _touch = ('ontouchstart' in document) ? 'touchstart' : 'click';
	$('.pref-btn4').on(_touch, function(){
		$('.find-pref-button4').toggleClass('dropdown_toggle').children('.find-pref-4').slideToggle(400);
    $('.find-pref-button4').toggleClass('find-pref-btn-shadow');
	});
});

$(function(){
	var _touch = ('ontouchstart' in document) ? 'touchstart' : 'click';
	$('.pref-btn5').on(_touch, function(){
		$('.find-pref-button5').toggleClass('dropdown_toggle').children('.find-pref-5').slideToggle(400);
    $('.find-pref-button5').toggleClass('find-pref-btn-shadow');
	});
});

$(function(){
	var _touch = ('ontouchstart' in document) ? 'touchstart' : 'click';
	$('.pref-btn6').on(_touch, function(){
		$('.find-pref-button6').toggleClass('dropdown_toggle').children('.find-pref-6').slideToggle(400);
    $('.find-pref-button6').toggleClass('find-pref-btn-shadow');
	});
});

$(function(){
	var _touch = ('ontouchstart' in document) ? 'touchstart' : 'click';
	$('.pref-btn7').on(_touch, function(){
		$('.find-pref-button7').toggleClass('dropdown_toggle').children('.find-pref-7').slideToggle(400);
    $('.find-pref-button7').toggleClass('find-pref-btn-shadow');
	});
});
$(function(){
	var _touch = ('ontouchstart' in document) ? 'touchstart' : 'click';
	$('.pref-btn8').on(_touch, function(){
		$('.find-pref-button8').toggleClass('dropdown_toggle').children('.find-pref-8').slideToggle(400);
    $('.find-pref-button8').toggleClass('find-pref-btn-shadow');
	});
});
$(function(){
	var _touch = ('ontouchstart' in document) ? 'touchstart' : 'click';
	$('.pref-btn9').on(_touch, function(){
		$('.find-pref-button9').toggleClass('dropdown_toggle').children('.find-pref-9').slideToggle(400);
    $('.find-pref-button9').toggleClass('find-pref-btn-shadow');
	});
});
</script>
