<div class="inbox-wrapper">

  <div class="inbox-mail-wrapper col-md-3 col-sm-3">
    <div class="inbox-title visible-xs">
        <h1><i class="fa fa-envelope-o"></i>受信メッセージ</h1>
     </div>
    <div class="inbox-mail-main">
      <div class="inbox-maiil-title">
        <h2>メッセージボックス</h2>
      </div>
      <div class="inbox-mail-sent">
        <h2><i class="fa fa-paper-plane-o"></i><%= link_to("送信済みメッセージ", "/users/#{current_user.id}/outbox") %></h2>
      </div>
      <div class="inbox-mail-recieved">
        <h2><i class="fa fa-envelope-o"></i><%= link_to("受信済みメッセージ", "/users/#{current_user.id}/inbox") %></h2>
      </div>
    </div>
  </div>

<div class="inbox-sent-wrapper col-md-8 col-sm-8">
  <div class="inbox-title hidden-xs">
      <h1><i class="fa fa-envelope-o"></i>送信メッセージ</h1>
   </div>
      <% @comments.group('post_id').where(to_id: other_user.ids).each do |comment| %>
        <% if comment.present? %>
      <div class="inbox-main-wrapper">
        <div class="inbox-main">
          <div class="inbox-post-left">
            <div class="inbox-post-picture">
            <p><%= link_to image_tag(comment.user.picture_url, id: "inbox-user-picture"), "/users/#{comment.user.id}"%></p>
            </div>
            <div class="inbox-post-name">
              <p><%= link_to(comment.post.user.name, "/rooms/#{comment.room_id}") %></p>
            </div>
           </div>
          <div class="inbox-content">
            <h2><%= comment.post.title %></h2>
            <h3><%= comment.post.content %></h3>
          </div>
          <div class="inbox-time">
            <% if comment.room.comments.where(from_id: other_user.ids) != [] %>
            <P><h2>返信あり</h2></p>
            <i class="fa fa-check"></i>
            <% else %>
            <p><h2>返信なし</h2></p>
            <% end %>
         </div>
       </div>
     </div>
  <% end %>
  <% end %>
 </div>

<% if @comments.where(to_id: other_user.ids) == [] %>
  <div class="inbox-no-message1 col-md-8 col-sm-8">
     <div class="inbox2-main">
       <h2>送信履歴はありません。</h2>
     </div>

     <div class="inbox2-under">
       <div class="inbox2-under-picture">
         <%= link_to 'posting_path' do %>
         <%= image_tag("borkum-84281_1280.jpg") %>
         <% end %>
       </div>
       <div class="inbox2-under-intro">
         <h2>練習相手やヒッティングパートナーをここで探してみよう!</h2>
         <div class="inbox2-posting-bottom">
           <%= link_to "探してみる", find_path, :style=>"color: white;" %>
         </div>
       </div>
     </div>
  </div>
<% end %>

</div>
