<% provide(:title, "#{@user.name}") %>
<div class="wrapper-user">
    <div class="user-info">
      <div class="user-info-2">
        <div class="user-show-upper">
          <% if @user.picture.present? %>
          <p><%= image_tag(@user.picture_url) %></p>
          <% else %>
          <p><%= image_tag('blank-profile-picture-973460_1280.png') %></p>
          <% end %>
        </div>
        <div class="user-show-under">
        <p><h2><%= @user.name %></h2></p>
        <div class="user-show-under-info">
          <p><h3><label>居住地</label><%= @user.live %></h3></p>
          <p><h3><label>年齢</label><%= age %>歳</h3></p>
          <p><h3><label>性別</label><%= @user.gender %></h3></p>
          <p><h3><label>テニス歴</label><%= @user.history %></h3></p>
          <div class="user-intro">
            <%= @user.introduction %>
          </div>
        </div>
      </div>
      </div>
    </div>


  <div class="user-show-right">
    <% if @user == current_user %>
    <div class="user-show-right-upper">
      <div class="upper-user-sent">
        <h2><i class="fa fa-paper-plane-o"></i><%= link_to "送信メッセージ", "/outbox" %></h2>
      </div>
      <div class="upper-user-recieved">
        <h2><i class="fa fa-envelope-o"></i><%= link_to "受信メッセージ", "/inbox" %></h2>
      </div>
      <div class="upper-user-edit">
        <h2><i class="fa fa-user"></i><%= link_to "プロフィールの編集", edit_user_registration_path %></h2>
      </div>
      <div class="upper-user-like">
        <h2><i class="fa fa-star"></i><%= link_to "お気に入り", likes_user_path %></h2>
      </div>
    </div>
    <% end %>
    <div class="user-post">
      <% if @user.posts.present? %>
      <%= render "posts/post" %>
      <% else %>
      <h2><i class="fa fa-frown-o"></i>投稿はありません</h2>
      <% end %>
    </div>
  </div>
</div>
