<% set_meta_tags title: @user.name, noindex: true %>
<div class="wrapper-user">
    <div class="user-info">
      <div class="user-info-2">
        <div class="user-show-upper">
          <% if @user.picture.present? %>
          <p><%= image_tag(@user.picture_url, :alt => "ユーザーの写真") %></p>
          <% else %>
          <p><%= image_tag('blank-profile-picture-973460_1280.png', :alt => "ユーザーの写真") %></p>
          <% end %>
        </div>
        <% if current_user %>
        <div class="user-show-name">
          <h2><%= @user.name %></h2>
          <span><i class="fa fa-ellipsis-h" id="user-menu"></i></span>
        </div>
        <div class="user-show-menu-wrap">
          <div class="user-show-right-upper">
            <div class="upper-user-recieved">
              <%= link_to message_path do %>
              <h2><i class="fa fa-envelope-o"></i>メッセージ</h2>
              <% end %>
            </div>
            <div class="upper-user-edit">
              <%= link_to edit_user_registration_path do %>
              <h2><i class="fa fa-edit"></i>プロフィールの編集</h2>
              <% end %>
            </div>
            <div class="upper-user-like">
              <%= link_to likes_user_path do %>
              <h2><i class="fa fa-heart"></i>お気に入り</h2>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>

        <div class="user-show-under">
        <div class="user-show-under-info">
          <p><h3><label>居住地</label><%= @user.live %></h3></p>
          <p><h3><label>年齢</label><%= age %>歳</h3></p>
          <p><h3><label>性別</label><%= @user.gender %></h3></p>
          <p><h3><label>テニス歴</label><%= @user.history %></h3></p>
          <div class="user-intro">
            <p><%= simple_format(@user.introduction) %></p>
          </div>
        </div>
      </div>
      </div>
    </div>

  <div class="user-show-right">
    <div class="user-post">
      <div class="user-post-label">
        <div class="user-post-count">
          <p><span>全投稿</span><p>
        </div>
        <div class="user-post-recrut">
          <p><span>募集中の投稿</span></p>
        </div>
      </div>

      <% if @user.posts.present? %>
      <div class="user-post-show-1">
        <%= render "posts/user_post" %>
      </div>
      <div class="user-post-show-2">
        <%= render "posts/user_post2" %>
      </div>

      <% else %>
      <h2><i class="fa fa-frown-o"></i>投稿はありません</h2>
      <div class="non-post-user">
        <div class="non-post-img">
          <%= image_tag('playcal-p1.jpg') %>
        </div>
        <div class="non-post-button-wrap">
          <p>投稿して練習相手を募集しよう！</p>
          <%= link_to posting_path do %>
          <div class="non-post-button">募集する</div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="google-ad4">
    <div class="sponsors-link">
      <span>スポンサーリンク</span>
    </div>
    <div class="visible-xs" style="width: 300px; margin: 0 auto;">
    <a href="https://hb.afl.rakuten.co.jp/hgc/1759efc5.35bbd1be.1759efc6.ee630f1c/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fkpi%2Fwrt737720%2F&m=http%3A%2F%2Fm.rakuten.co.jp%2Fkpi%2Fi%2F10162412%2F&link_type=pict&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0Iiwic2l6ZSI6IjMwMHgzMDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImxlZnQiLCJwcmljZSI6MCwiYm9yIjoxLCJjb2wiOjAsImJidG4iOjF9" target="_blank" rel="nofollow" style="word-wrap:break-word;"  ><img src="https://hbb.afl.rakuten.co.jp/hgb/1759efc5.35bbd1be.1759efc6.ee630f1c/?me_id=1207677&item_id=10162412&m=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fkpi%2Fcabinet%2Fwilson-3%2Fwrt737720.jpg%3F_ex%3D80x80&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fkpi%2Fcabinet%2Fwilson-3%2Fwrt737720.jpg%3F_ex%3D300x300&s=300x300&t=pict" border="0" style="margin:2px" alt="" title=""></a>
    </div>
  </div>
</div>
