<div class="all-search">
  <div class="gender-modal-wrapper">
      <div class="gender-modal">
        <%= search_form_for(@q, url:edit_pref_path) do |f| %>

          <div class="JS-search-skill">
              <%= label_tag :skill, "都道府県", id: "skill-search-label" %>
              <%= f.select :prefecture_eq, options_for_select(@prefecture),  :include_blank => "選択してください", id: "skill-search-select" %>
          </div>

          <div class="JS-search-gender">
              <%= label_tag :gender, "性別", id: "gender-search-label" %>


          </div>

        <div class="JS-search-member">
           <%= label_tag :member, "募集人数", id: "member-search-label" %>
           <%= f.select :member_eq, options_for_select([
             ['未定', '未定'],['1人', '1人'],['2人', '2人'], ['3人', '3人'],['4人', '4人'],['5人', '5人'], ['6人', "6人"],
             ['7人', '7人'],['8人', '8人'], ['9人', '9人'],['10人', '10人'],['11人', '11人'], ['12人', '12人'],['12人以上', '12人以上']
           ]),  :include_blank => "選択してください" %>
         </div>

         <div class="search-buttom">
           <%= button_tag sanitize('<i class="fa fa-search"></i>'), :type => "submit", id: "search-submit" %>
        </div>

    </div>
  </div>

      <div class="JS-search-city">
       <%= label_tag :city, "場所でしぼる", id: "city-search-label" %>
       <%= f.text_field :city_cont, id: "form-control", class: "font-awesome", placeholder: "\uF002   ◯◯市や◯◯コートなど"  %>
      </div>
      <% end %>
</div>

<script src="script.js"></script>
