<div class="report-wrapper">
  <div class="report-close">
    <span>閉じる</span>
  </div>
  <div class="report-title">
    <h2>報告内容をお聞かせください</h2>
  </div>
  <div class="report-content">
    <%= bootstrap_form_for(@report, layout: :horizontal) do |f| %>
    <div class="report-radio">
      <label><%= f.radio_button :content, "暴力的な表現をされた" %></label>
      <h3>暴力的な表現をされた</h3>
    </div>
    <div class="report-radio">
      <label><%= f.radio_button :content, "性的なメッセージを受け取った" %></label>
      <h3>性的なメッセージを受け取った</h3>
    </div>
    <div class="report-radio">
      <label><%= f.radio_button :content, "その他のSNSに誘致を受けた" %></label>
      <h3>その他のSNSに誘致を受けたた</h3>
    </div>
    <div class="report-radio">
      <label><%= f.radio_button :content, "商的な勧誘を受けた" %></label>
      <h3>商的な勧誘を受けた</h3>
    </div>
    <div class="report-radio">
      <label><%= f.radio_button :content, "その他" %></label>
      <h3>その他</h3>
    </div>
    <%= f.hidden_field :user_id %>
    <p><%= f.submit "送信", class: "btn", id: "report-submit" %></p>
    <% end %>
  </div>
</div>
