<div class="login-wrapper">
      <div class="login-main">
        <h2>ログイン</h2>
        <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h3><%= flash[:alert] %></h3>

        <div class="login-mail">
        <%= f.email_field :email, class: 'login-form', hide_label: true, placeholder: "メールアドレス"%>
      </div>

      <div class="login-password">
        <%= f.password_field :password, class: 'login-form', hide_label: true, placeholder: "パスワード" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="login-mail">
          <%= f.check_box :remember_me, hide_label: true, class: 'login-form' %>
        </div>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-success", id: "login-submit" %>
      <% end %>

      <div class="login-under">
        <p>アカウントをお持ちでないですか?</p>
        <p id="login-under-list"><%= link_to "登録はこちら", new_user_registration_path, id: "login-under-signup" %></p>
        <p>パスワードをお忘れですか？</p>
        <p id="login-under-list"><%= link_to "パスワードの再設定はこちらから", new_password_path(resource_name), id: "login-under-signup" %></p>
        <p>アカウント登録メールが来ませんか？</p>
        <p id="login-under-list"><%= link_to "アカウント登録メールの再送はこちらから", new_confirmation_path(resource_name), id: "login-under-signup" %></p>
      </div>
    </div>
  </div>
