<div class="chat-wrapper">
  <%= bootstrap_form_for(@chat) do |f| %>
  <%= f.hidden_field :chatbox_id, :value => @chatbox.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="chat-form-area">
    <p><%= f.text_area :text, id: "chatform", hide_label: true, placeholder: "コメントを入力" %></p>
    <div class="chat-form-submit">
        <%= f.submit "コメント", class: "btn btn-success", id: "chat-form-submit" %>
    </div>
  </div>
  <% end %>
</div>
