<% if user_signed_in? %>
  <% if current_user.goods.find_by(chat_id: chat.id) %>
    <%= link_to nongood_path(chat_id: chat.id), method: :delete, remote: true do %>
          <div class="nongood">
            <i class="fa fa-thumbs-up" id="good"></i>
            <% if chat.goods_count.to_i > 0 %>
              <span><%= chat.goods_count %></span>
              <% end %>
          </div>
        <% end %>
      <% else %>
        <%= link_to good_path(chat.id), method: :post, remote: true do %>
        <div class="good">
          <i class="fa fa-thumbs-up" id="nongood"></i></i>
          <% if chat.goods_count.to_i > 0 %>
            <span><%= chat.goods_count %></span>
            <% end %>
        </div>
        <% end %>
  <% end %>
  <% else %>
  <div class="good">
    <i class="fa fa-thumbs-up" id="nongood"></i></i>
      <span><%= chat.goods_count %></span>
  </div>
  <% end %>
