<div class="user-show-post-wrapper">
  <div class="find-main">
    <%= @message %>
    <% @posts.each do |post| %>
    <div class="find-post">
      <div class="find-user-upper">
        <div class="post-show-upper">
          <div class="post-show-user">
            <% if post.user.picture.present? %>
            <p><%= image_tag(post.user.picture_url, class: "post-showr-picture" ) %></p>
            <% else %>
            <p><%= image_tag('blank-profile-picture-973460_1280.png', class: "post-showr-picture" ) %></p>
            <% end %>
            <p><%= post.user.name.truncate(8) %></p>
          </div>
          <div class="post-show-title">
            <p><%= post.title.truncate(25) %></p>
          </div>
        </div>
          <div class="find-post-detail">
            <%= link_to "詳細を見る", post, id: "find-post-detail" %>
          </div>
      </div>
      <div class="find-post-under">
        <div class="post-show-under">
          <div class="post-show-under-left">
            <p><label>都道府県</label></br class="visible-xs"><%= post.prefecture %></p>
            <p><label>地域名の詳細</label></br class="visible-xs"><%= post.city %></p>
          </div>
          <div class="post-show-under-right">
            <p><label>練習希望日</label></br class="visible-xs"><%= post.playday %></p>
            <p><label>練習の内容</label></br class="visible-xs"><%= post.style %></p>
          </div>
        </div>
      </div>
    </div>
      <% end %>
  </div>
</div>

<%= will_paginate @posts %>
