<div class="user-post-wrapper">
    <%= @message %>
    <% @posts.each_with_index do |post, index| %>
  <div class="user-show-post-main">
    <% if post.user == current_user %>
    <div id="post-menus">
      <p id="post-menuP"><span><i class="fa fa-ellipsis-h" id="post-menu" onclick="postList(<%= index %>)"></i></span></p>
      <div class="post-menu-list-<%= index %>" style="display: none;">
        <%= link_to("/posts/#{post.id}/edit") do %>
        <p><i class="fa fa-edit"></i>投稿を編集する</p>
        <% end %>
        <%= link_to "/posts/#{post.id}/post_end", data: {confirm: "投稿を終了しますか？ 一度締め切ると再び表示することは出来なくなります。"} do %>
        <p><i class="fa fa-trash-o"></i>投稿を消去する</p>
        <% end %>
      </div>
    </div>
    <% end %>
    <div class="user-show-post-flex">
      <div class="user-show-post-picture">
        <% if post.user.picture.present? %>
        <p><%= image_tag(post.user.picture_url, class: "post-show-picture" ) %></p>
        <% else %>
        <p><%= image_tag('blank-profile-picture-973460_1280.png', class: "post-showr-picture" ) %></p>
        <% end %>
      </div>
      <div class="user-show-post-title">
        <% if post.term == true %>
        <h2><%= link_to(post.title.truncate(20),  post, :style=>"font-size: 1.7rem; color: #5f9ea0; font-weight: 600;") %></h2>
        <% else %>
        <h2><%= link_to(post.title.truncate(20),  post, :style=>"font-size: 1.7rem; color: #5f9ea0; font-weight: 500;") %></h2>
        <% end %>
      </div>
    </div>
    <div class="user-show-post-under-wrapper">
      <div class="user-show-post-under-info">
        <% if post.term == true %>
        <span id="user-show-post-under-info-tag"><i class="fa fa-tag"></i>募集中</span>
        <% else %>
        <span id="user-show-post-under-info-tag2"><i class="fa fa-tag"></i>募集終了</span>
        <% end %>
        <span><i class="fa fa-calendar"></i><%= post.playday %></span>
      </div>
      <div class="user-show-post-under">
          <span><%= time_ago_in_words(post.created_at) %>前</span>
      </div>
    </div>
    </div>
    <% end %>
  </div>
