<% set_meta_tags title: "投稿する", noindex: true %>
<div class="posting-wrapper">
  <div class="h-nav">
    <%= link_to :back do %>
    <span id="h-nav-now">戻る</span>
    <% end %>
    <span> > </span>
    <%= link_to request.url do %>
    <span>投稿</span>
    <% end %>
  </div>
  <%= bootstrap_form_for(@post, layout: :horizontal) do |f| %>
  <div class="posting-form">
    <div class="posting-title">
      <h1>投稿する</h1>
    </div>
    <%= render 'shared/error_messages', object: f.object %>

      <div class="posting-alert">
        <h2><i class="fa fa-flag-o"></i>投稿に関する注意</h2>
        <h3>この募集画面には個人情報やSNSに誘致するような内容は書き込まないようにしましょう。</h3>
      </div>
    <div class="title-field">
      <div><%= f.label :タイトル, id: "posting-label" %></br class="visible-xs"></div>
      <div><%= f.text_field :title, id: "title-field", placeholder: "(例)◯◯市でテニス出来る人募集！！", hide_label: true, onKeyDown: "postingCount(value, 'posting-text-count1', 35)" %>
      <p id="posting-text-count1">あと35字です</p></div>
    </div>

    <div class="playday">
      <div><%= f.label :練習日, id: "posting-label" %></div></br class="visible-xs">
      <div><%= raw sprintf(f.date_select(:playday, use_month_numbers: true, start_year:2018, #
   end_year: (Time.now.year + 5),
    hide_label: true,
    id: "playday-field",
   date_separator: '/')) %>
      <p>具体的な日程が未定でも現時点での予定日を書きましょう。後で応募者と調整が可能です。</p></div>
    </div>

    <div class="gender">
      <div><%= f.label :練習内容, id: "posting-label" %></div></br class="visible-xs">
      <div><%= f.select :style, Post.styles.keys,
       {include_blank: '選択してください', hide_label: true }, id: "gender-field" %>
       </div>
    </div>


    <div class="gender">
      <div><%= f.label :希望する性別, id: "posting-label" %></div></br class="visible-xs">
      <div><%= f.select :gender, options_for_select(Post.genders.map { |key, value| [key.humanize, key] }),
       {include_blank: '選択してください', hide_label: true }, id: "gender-field" %>
       <p>希望する応募者の性別を選択してください。特に希望がなければどちらの性別でもOKを選んでください。</p></div>
    </div>

        <div class="people">
         <div class="flex-p-l"><%= f.label :希望する人数, id: "posting-label" %><small>任意</small></div></br class="visible-xs">
         <div><%= f.select :member, Post.members.keys,
            {include_blank: '選択してください', hide_label: true }, id: "people-field" %>
            <p>募集する人数を決めてください。</p>
          </div>
          </div>

          <div class="skill">
            <div><%= f.label :希望する技術レベル, id: "posting-label" %><small>任意</small></div></br class="visible-xs">
            <div><%= f.select :skill, Post.skills.keys,
              {include_blank: '選択してください', hide_label: true}, id: "skill-field" %>
              <p>応募者に対して希望するテニスのスキルレベルをお書きください。</p></div>
            </div>

            <div class="prefecture">
              <div><%= f.label :都道府県, id: "posting-label" %></div></br class="visible-xs">
              <div><%= f.select :prefecture, Post.prefectures.keys,
                {include_blank: '選択してください', hide_label: true}, id: "prefecture-field" %>
                <p>練習コートのある都道府県をお選びください。</p></div>
              </div>

                <div class="city">
                  <div><%= f.label :市町村名, id: "posting-label" %></div></br class="visible-xs">
                  <div><%= f.text_field :city, id: "city-field", placeholder: "(例)◯◯市や◯◯郡など", hide_label: true, onKeyDown: "postingCount(value, 'posting-text-count3', 20)" %>
                    <p>この欄には練習予定の都市名（例： 大阪市や広島市など）</p>
                    <p id="posting-text-count3">あと20字です</p></div>
                </div>

                <div class="content">
                  <div><%= f.label :募集内容の詳細, id: "posting-label" %></div></br class="visible-xs">
                  <div><%= f.text_area :content, id: "content-field", placeholder: "(例)練習日や練習時間、練習場所など", hide_label: true, onKeyDown: "postingCount(value, 'posting-text-count2', 200)" %>
                    <p id="posting-text-count2">あと200字です</p>
                    <p>この欄には詳細な募集要項をお書きください。例えば、練習時間やラケットやボールの有無、相手の年齢、募集期間など。</p></div>
                </div>

              <div class="submit">
                <%= f.submit "投稿", class: "btn btn-success", id: "posting-submit" %></div>
              </div>
            </div>
            <% end %>

            
          <script>
          function postingCount(text, el, max) {
            document.getElementById(el).innerHTML = 'あと' + (max - text.length) + '字です'
          }
          </script>

