<% set_meta_tags title: "投稿", noindex: true %>
<div class="main-pref">
  <div class="post-show-top">
    <h1><i class="fa fa-tags"></i>投稿情報の詳細</h1>
  </div>

  <div class="post-show-wrapper">
    <div class="post-upper-flex">
      <div class="post-recrut-label">
        <% if @post.term == true %>
        <p id="post-recrut-label">募集中</p>
        <% elsif @post.term == false %>
        <p id="post-recrut-label1">募集は終了しました</p>
        <% end %>
      </div>
      <% if @post.user == current_user %>
      <div class="post-show-menu">
        <p id="post-menuP"><span><i class="fa fa-ellipsis-h" id="post-menu3"></i></span></p>
        <div class="post-menu-list2" style="display: none;">
          <%= link_to("/posts/#{@post.id}/edit") do %>
          <p><i class="fa fa-edit"></i>投稿を編集する</p>
          <% end %>
          <%= link_to "/posts/#{@post.id}/post_end", data: {confirm: "投稿を終了しますか？ 一度締め切ると再び表示することは出来なくなります。"} do %>
          <p><i class="far fa-trash-alt"></i>投稿を消去する</p>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="post-show-upper">
      <div class="post-show-user">
        <% if @post.user.picture.present? %>
        <p><%= image_tag(@post.user.picture_url, class: "post-showr-picture" ) %></p>
        <% else %>
        <p><%= image_tag('blank-profile-picture-973460_1280.png', class: "post-showr-picture" ) %></p>
        <% end %>
        <p><%= link_to(@room.post.user.name, @room.post.user) %></p>
      </div>
      <div class="post-show-title">
        <p><%= @post.title.truncate(35) %></p>
      </div>
      <div class="post-delete">
        <% if @post.user == current_user %>
        <%= link_to @post, method: :delete, data: { confirm: '削除しますか？' } do %>
          <p><i class="far fa-trash-alt"></i></p>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="post-show-under-title">
      <h2>基本情報</h2>
    </div>
    <div class="post-show-under">
      <div class="post-show-under-left">
        <p><label>都道府県</label></br class="visible-xs"><%= @post.prefecture %></p>
        <p><label>都市名</label></br class="visible-xs"><%= @post.city %></p>
        <p><label>希望する技術レベル</label></br class="visible-xs"><%= @post.skill %></p>
      </div>
      <div class="post-show-under-right">
        <p><label>練習希望日</label></br class="visible-xs"><%= @post.playday %></p>
        <p><label>希望する性別</label></br class="visible-xs"><%= @post.gender %></p>
        <p><label>希望する人数</label></br class="visible-xs"><%= @post.member %></p>
        <p><label>練習の内容</label></br class="visible-xs"><%= @post.style %></p>
      </div>
    </div>
    <div class="post-show-under-title">
      <h2>募集内容の詳細</h2>
    </div>
    <div class="post-show-under-content">
      <p><%= simple_format(@post.content) %></p>
    </div>
  </div>

  <div class="post-end">
    <% if @post.user == current_user && @post.term == true %>
    <%= link_to "/posts/#{@post.id}/post_end", data: {confirm: "投稿を終了しますか？ 一度締め切ると再び表示することは出来なくなります。"} do %>
    <p id="post-end">募集を締め切る</p>
    <% end %>
    <% elsif @post.user == current_user && @post.term == false %>
    <p id="post-end1">募集は終了しました</p>
    <% end %>
  </div>

  <% post = @post.comments %>
  <% if current_user != @user  && @post.rooms.where(from_id: current_user.id).empty? && @post.term == true %>
  <%= form_for(@room) do |f| %>
  <%= f.hidden_field :post_id, :value => @post.id %>
  <%= f.hidden_field :to_id, :value => @user.id %>
  <%= f.hidden_field :from_id, :value => current_user.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="post-message-submit">
    <button type="submit", class="btn btn-success", id="post-message-submit">
      <i class="far fa-paper-plane"></i>メッセージを送る
     </button>
  </div>
  <% end %>
  <% elsif current_user == @user %>
  <div class="post-message-check">
    <%= link_to("/message", class: "btn btn-success", id: "post-message-check") do %>
    メッセージボックスで確認する
    <% end %>
  </div>
  <% elsif @post.rooms.where(from_id: current_user.id).present? %>
  <% room = @post.rooms.find_by(from_id: current_user.id) %>
  <div class="post-message-back">
    <%= link_to("以前のメッセージへ戻る", "/rooms/#{room.id}", class: "btn btn-success", id: "post-message-check") %>
  </div>
  <% end %>
 </div>
  </div>
 </div>

 <script>
 $(function() {
   $('#post-menu3').on('click', function() {
     $('.post-menu-list2').toggleClass('post-show-toggle').fadeToggle(300);
   })
 })
 </script>
