<div class="dropdown-modal-wrapper">
  <% if user_signed_in? %>
  <div class="dropdown-modal">
    <div class="dropdown-modal-upper">
      <div class="dropdown-logo">
        <span>P</span>
      </div>
      <div class="close-modal">
       <i class="fa fa-2x fa-times" id="close-modal" ontouchstart=""></i>
      </div>
    </div>
    <p id="dropdown-list-o"><i class="fa fa-smile-o"></i><%= link_to current_user.name, current_user, id: "dropdown-list", ontouchstart: "" %></p>
    <p id="dropdown-list-p"><i class="fa fa-search"></i><%= link_to "探す", "/find", id: "dropdown-list", ontouchstart: "" %></p>
    <p><i class="fa fa-sticky-note-o"></i><%= link_to "募集する", posting_path, id: "dropdown-list", ontouchstart: "" %></p>
    <p id="dropdown-list-p"><i class="fa fa-envelope-o"></i><%= link_to "メッセージ", "/message", id: "dropdown-list", ontouchstart: "" %></p>
    <p id="dropdown-list-p"><i class="fa fa-coffee"></i><%= link_to 'テニスチャットカフェ', tourlists_path, id: "dropdown-list", ontouchstart: "" %></p>
    <p id="dropdown-list-p"><i class="fa fa-pencil-square-o"></i><%= link_to "プロフィールを編集する", edit_user_registration_path, id: "dropdown-list", ontouchstart: "" %></p>
    <p><i class="fa fa-sign-out"></i><%= link_to "ログアウト", destroy_user_session_path, id: "dropdown-list", ontouchstart: "", method: :delete %></p>
    <p><i class="fa fa-bookmark-o"></i><%= link_to "設定", setting_path, id: "dropdown-list", ontouchstart: "" %></p>

    <% if current_user.email == 'kokinagai10@gmail.com' %>
    <p><i class="fa fa-bookmark-o"></i><%= link_to "管理者画面", rails_admin_path, id: "dropdown-list", ontouchstart: "" %></p>
    <% end %>
  </div>
  <% else %>
  <div class="dropdown-modal">
    <div class="dropdown-modal-upper">
      <div class="dropdown-logo">
        <span>P</span>
      </div>
      <div class="close-modal">
       <i class="fa fa-2x fa-times" id="close-modal" ontouchstart=""></i>
      </div>
    </div>
    <p id="dropdown-list-o"><i class="fa fa-home"></i><%= link_to "ホーム", root_path, id: "dropdown-list", ontouchstart: "" %></p>
    <p id="dropdown-list-p"><i class="fa fa-search"></i><%= link_to "探す", "/find", id: "dropdown-list", ontouchstart: "" %></p>
    <p id="dropdown-list-p"><i class="fa fa-coffee"></i><%= link_to 'テニスチャットカフェ', tourlists_path, id: "dropdown-list", ontouchstart: "" %></p>
    <p id="dropdown-list-p"><i class="fa fa-child"></i><%= link_to "アカウント登録", new_user_registration_path, id: "dropdown-list", ontouchstart: "" %></p>
    <p id="dropdown-list-p"><i class="fa fa-sign-in"></i><%= link_to "ログイン", new_user_session_path, id: "dropdown-list", ontouchstart: "" %></p>
  </div>
  <% end %>
</div>
