<div class="dropdown-modal-wrapper">
  <% if user_signed_in? %>
  <div class="dropdown-modal">
    <div class="close-modal">
     <i class="fa fa-2x fa-times" id="close-modal"></i>
    </div>
    <p id="dropdown-list-Q"><i class="fa fa-smile-o fa-2x"></i><%= link_to current_user.name, current_user, id: "dropdown-list", :style=>"font-weight: 500; font-size: 14px;" %></p>
    <p id="dropdown-list-p"><i class="fa fa-home"></i><%= link_to 'ホーム', root_path, id: "dropdown-list" %></p>
    <p><i class="fa fa-sticky-note-o"></i><%= link_to "募集する", posting_path, id: "dropdown-list" %></p>
    <p id="dropdown-list-p"><i class="fa fa-sticky-note-o"></i><%= link_to "探す", "/search?utf8=✓&q%5Bplayday_gteq%281i%29%5D=&q%5Bplayday_gteq%282i%29%5D=&q%5Bplayday_gteq%283i%29%5D=&q%5Bplayday_lteq%281i%29%5D=&q%5Bplayday_lteq%282i%29%5D=&q%5Bplayday_lteq%283i%29%5D=&q%5Bprefecture_eq%5D=#{current_user.live}&q%5Bgender_eq%5D=&q%5Bmember_eq%5D=&button=&q%5Bcity_cont%5D=", id: "dropdown-list" %></p>
    <p id="dropdown-list-p"><i class="fa fa-pencil-square-o"></i><%= link_to "プロフィールを編集する", edit_user_registration_path, id: "dropdown-list" %></p>
    <p><i class="fa fa-envelope-o"></i><%= link_to "送信メッセージ", "/outbox", id: "dropdown-list" %></p>
    <p id="dropdown-list-p"><i class="fa fa-envelope-o"></i><%= link_to "受信メッセージ", "/inbox", id: "dropdown-list" %></p>
    <p><i class="fa fa-bookmark-o"></i><%= link_to "ログアウト", destroy_user_session_path, id: "dropdown-list", method: :delete %></p>
    <p><i class="fa fa-bookmark-o"></i><%= link_to "設定", setting_path, id: "dropdown-list" %></p>

    <% if current_user.id == 1 %>
    <p><i class="fa fa-bookmark-o"></i><%= link_to "管理者画面", rails_admin_path, id: "dropdown-list" %></p>
    <% end %>
  </div>
  <% else %>
  <div class="dropdown-modal">
    <div class="close-modal">
     <i class="fa fa-2x fa-times" id="close-modal"></i>
    </div>
    <p id="dropdown-list-o"><i class="fa fa-home"></i><%= link_to "ホーム", root_path %></p>
    <p id="dropdown-list-p"><i class="fa fa-heart-o"></i><%= link_to "アカウント登録", new_user_registration_path %></p>
    <p id="dropdown-list-p"><i class="fa fa-bookmark-o"></i><%= link_to "ログイン", new_user_session_path %></p>
  </div>
  <% end %>
</div>

<script src="script.js"></script>
