<div class="find-show-title">
  <div class="find-pref-wrap">
    <div class="find-pref-button1"><div class="pref-btn1">北海道<svg id="arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff"><g><path d="M 8.341,9.837c 0.005-0.006, 0.007-0.014, 0.012-0.020l 3.491-3.857c 0.195-0.217, 0.195-0.569,0-0.786 c-0.002-0.002-0.004-0.003-0.006-0.004C 11.748,5.065, 11.622,5, 11.482,5L 4.499,5 c-0.143,0-0.27,0.069-0.361,0.176L 4.136,5.174 c-0.195,0.217-0.195,0.569,0,0.786l 3.499,3.877C 7.83,10.054, 8.146,10.054, 8.341,9.837z"></path></g></svg></div>
    <div class="find-pref-1" id="fp1">
      <%= link_to("/#{prefURL("北海道")}") do %>
      <p>北海道</p>
      <% end %>
    </div>
    </div>
  </div>
  <div class="find-pref-wrap">
    <div class="find-pref-button2"><div class="pref-btn2">東北<svg id="arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff"><g><path d="M 8.341,9.837c 0.005-0.006, 0.007-0.014, 0.012-0.020l 3.491-3.857c 0.195-0.217, 0.195-0.569,0-0.786 c-0.002-0.002-0.004-0.003-0.006-0.004C 11.748,5.065, 11.622,5, 11.482,5L 4.499,5 c-0.143,0-0.27,0.069-0.361,0.176L 4.136,5.174 c-0.195,0.217-0.195,0.569,0,0.786l 3.499,3.877C 7.83,10.054, 8.146,10.054, 8.341,9.837z"></path></g></svg></div>
    <div class="find-pref-2" id="fp2">
      <%= link_to("/#{prefURL("青森県")}") do %>
      <p>青森県</p>
      <% end %>
      <%= link_to("/#{prefURL("岩手県")}") do %>
      <p>岩手県</p>
      <% end %>
      <%= link_to("/#{prefURL("宮城県")}") do %>
      <p>宮城県</p>
      <% end %>
      <%= link_to("/#{prefURL("秋田県")}") do %>
      <p>秋田県</p>
      <% end %>
      <%= link_to("/#{prefURL("山形県")}") do %>
      <p>山形県</p>
      <% end %>
      <%= link_to("/#{prefURL("福島県")}") do %>
      <p>福島県</p>
      <% end %>
    </div>
    </div>
  </div>
  <div class="find-pref-wrap">
    <div class="find-pref-button3"><div class="pref-btn3">関東<svg id="arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff"><g><path d="M 8.341,9.837c 0.005-0.006, 0.007-0.014, 0.012-0.020l 3.491-3.857c 0.195-0.217, 0.195-0.569,0-0.786 c-0.002-0.002-0.004-0.003-0.006-0.004C 11.748,5.065, 11.622,5, 11.482,5L 4.499,5 c-0.143,0-0.27,0.069-0.361,0.176L 4.136,5.174 c-0.195,0.217-0.195,0.569,0,0.786l 3.499,3.877C 7.83,10.054, 8.146,10.054, 8.341,9.837z"></path></g></svg></div>
    <div class="find-pref-3" id="fp3">
      <%= link_to("/#{prefURL("茨城県")}") do %>
      <p>茨城県</p>
      <% end %>
      <%= link_to("/#{prefURL("栃木県")}") do %>
      <p>栃木県</p>
      <% end %>
      <%= link_to("/#{prefURL("群馬県")}") do %>
      <p>群馬県</p>
      <% end %>
      <%= link_to("/#{prefURL("埼玉県")}") do %>
      <p>埼玉県</p>
      <% end %>
      <%= link_to("/#{prefURL("千葉県")}") do %>
      <p>千葉県</p>
      <% end %>
      <%= link_to("/#{prefURL("東京都")}") do %>
      <p>東京都</p>
      <% end %>
      <%= link_to("/#{prefURL("神奈川県")}") do %>
      <p>神奈川県</p>
      <% end %>
    </div>
    </div>
  </div>
  <div class="find-pref-wrap">
    <div class="find-pref-button4"><div class="pref-btn4">中部<svg id="arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff"><g><path d="M 8.341,9.837c 0.005-0.006, 0.007-0.014, 0.012-0.020l 3.491-3.857c 0.195-0.217, 0.195-0.569,0-0.786 c-0.002-0.002-0.004-0.003-0.006-0.004C 11.748,5.065, 11.622,5, 11.482,5L 4.499,5 c-0.143,0-0.27,0.069-0.361,0.176L 4.136,5.174 c-0.195,0.217-0.195,0.569,0,0.786l 3.499,3.877C 7.83,10.054, 8.146,10.054, 8.341,9.837z"></path></g></svg></div>
    <div class="find-pref-4" id="fp4">
      <%= link_to("/#{prefURL("新潟県")}") do %>
      <p>新潟県</p>
      <% end %>
      <%= link_to("/#{prefURL("富山県")}") do %>
      <p>富山県</p>
      <% end %>
      <%= link_to("/#{prefURL("石川県")}") do %>
      <p>石川県</p>
      <% end %>
      <%= link_to("/#{prefURL("福井県")}") do %>
      <p>福井県</p>
      <% end %>
      <%= link_to("/#{prefURL("山梨県")}") do %>
      <p>山梨県</p>
      <% end %>
      <%= link_to("/#{prefURL("長野県")}") do %>
      <p>長野県</p>
      <% end %>
      <%= link_to("/#{prefURL("岐阜県")}") do %>
      <p>岐阜県</p>
      <% end %>
      <%= link_to("/#{prefURL("静岡県")}") do %>
      <p>静岡県</p>
      <% end %>
      <%= link_to("/#{prefURL("愛知県")}") do %>
      <p>愛知県</p>
      <% end %>
    </div>
    </div>
  </div>
  <div class="find-pref-wrap">
    <div class="find-pref-button5"><div class="pref-btn5">関西<svg id="arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff"><g><path d="M 8.341,9.837c 0.005-0.006, 0.007-0.014, 0.012-0.020l 3.491-3.857c 0.195-0.217, 0.195-0.569,0-0.786 c-0.002-0.002-0.004-0.003-0.006-0.004C 11.748,5.065, 11.622,5, 11.482,5L 4.499,5 c-0.143,0-0.27,0.069-0.361,0.176L 4.136,5.174 c-0.195,0.217-0.195,0.569,0,0.786l 3.499,3.877C 7.83,10.054, 8.146,10.054, 8.341,9.837z"></path></g></svg></div>
    <div class="find-pref-5" id="fp5">
      <%= link_to("/#{prefURL("三重県")}") do %>
      <p>三重県</p>
      <% end %>
      <%= link_to("/#{prefURL("滋賀県")}") do %>
      <p>滋賀県</p>
      <% end %>
      <%= link_to("/#{prefURL("京都府")}") do %>
      <p>京都府</p>
      <% end %>
      <%= link_to("/#{prefURL("大阪府")}") do %>
      <p>大阪府</p>
      <% end %>
      <%= link_to("/#{prefURL("兵庫県")}") do %>
      <p>兵庫県</p>
      <% end %>
      <%= link_to("/#{prefURL("奈良県")}") do %>
      <p>奈良県</p>
      <% end %>
      <%= link_to("/#{prefURL("和歌山県")}") do %>
      <p>和歌山県</p>
      <% end %>
    </div>
    </div>
  </div>
  <div class="find-pref-wrap">
    <div class="find-pref-button6"><div class="pref-btn6">中国<svg id="arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff"><g><path d="M 8.341,9.837c 0.005-0.006, 0.007-0.014, 0.012-0.020l 3.491-3.857c 0.195-0.217, 0.195-0.569,0-0.786 c-0.002-0.002-0.004-0.003-0.006-0.004C 11.748,5.065, 11.622,5, 11.482,5L 4.499,5 c-0.143,0-0.27,0.069-0.361,0.176L 4.136,5.174 c-0.195,0.217-0.195,0.569,0,0.786l 3.499,3.877C 7.83,10.054, 8.146,10.054, 8.341,9.837z"></path></g></svg></div>
    <div class="find-pref-6" id="fp6">
      <%= link_to("/#{prefURL("鳥取県")}") do %>
      <p>鳥取県</p>
      <% end %>
      <%= link_to("/#{prefURL("島根県")}") do %>
      <p>島根県</p>
      <% end %>
      <%= link_to("/#{prefURL("岡山県")}") do %>
      <p>岡山県</p>
      <% end %>
      <%= link_to("/#{prefURL("広島県")}") do %>
      <p>広島県</p>
      <% end %>
      <%= link_to("/#{prefURL("山口県")}") do %>
      <p>山口県</p>
      <% end %>
    </div>
    </div>
  </div>
  <div class="find-pref-wrap">
    <div class="find-pref-button7"><div class="pref-btn7">四国<svg id="arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff"><g><path d="M 8.341,9.837c 0.005-0.006, 0.007-0.014, 0.012-0.020l 3.491-3.857c 0.195-0.217, 0.195-0.569,0-0.786 c-0.002-0.002-0.004-0.003-0.006-0.004C 11.748,5.065, 11.622,5, 11.482,5L 4.499,5 c-0.143,0-0.27,0.069-0.361,0.176L 4.136,5.174 c-0.195,0.217-0.195,0.569,0,0.786l 3.499,3.877C 7.83,10.054, 8.146,10.054, 8.341,9.837z"></path></g></svg></div>
    <div class="find-pref-7" id="fp7">
      <%= link_to("/#{prefURL("徳島県")}") do %>
      <p>徳島県</p>
      <% end %>
      <%= link_to("/#{prefURL("香川県")}") do %>
      <p>香川県</p>
      <% end %>
      <%= link_to("/#{prefURL("愛媛県")}") do %>
      <p>愛媛県</p>
      <% end %>
      <%= link_to("/#{prefURL("高知県")}") do %>
      <p>高知県</p>
      <% end %>
    </div>
    </div>
  </div>
  <div class="find-pref-wrap">
    <div class="find-pref-button8"><div class="pref-btn8">九州<svg id="arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff"><g><path d="M 8.341,9.837c 0.005-0.006, 0.007-0.014, 0.012-0.020l 3.491-3.857c 0.195-0.217, 0.195-0.569,0-0.786 c-0.002-0.002-0.004-0.003-0.006-0.004C 11.748,5.065, 11.622,5, 11.482,5L 4.499,5 c-0.143,0-0.27,0.069-0.361,0.176L 4.136,5.174 c-0.195,0.217-0.195,0.569,0,0.786l 3.499,3.877C 7.83,10.054, 8.146,10.054, 8.341,9.837z"></path></g></svg></div>
    <div class="find-pref-8" id="fp8">
      <%= link_to("/#{prefURL("福岡県")}") do %>
      <p>福岡県</p>
      <% end %>
      <%= link_to("/#{prefURL("佐賀県")}") do %>
      <p>佐賀県</p>
      <% end %>
      <%= link_to("/#{prefURL("長崎県")}") do %>
      <p>長崎県</p>
      <% end %>
      <%= link_to("/#{prefURL("熊本県")}") do %>
      <p>熊本県</p>
      <% end %>
      <%= link_to("/#{prefURL("大分県")}") do %>
      <p>大分県</p>
      <% end %>
      <%= link_to("/#{prefURL("宮崎県")}") do %>
      <p>宮崎県</p>
      <% end %>
      <%= link_to("/#{prefURL("鹿児島県")}") do %>
      <p>鹿児島県</p>
      <% end %>
    </div>
    </div>
  </div>
  <div class="find-pref-wrap">
    <div class="find-pref-button9"><div class="pref-btn9">沖縄<svg id="arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff"><g><path d="M 8.341,9.837c 0.005-0.006, 0.007-0.014, 0.012-0.020l 3.491-3.857c 0.195-0.217, 0.195-0.569,0-0.786 c-0.002-0.002-0.004-0.003-0.006-0.004C 11.748,5.065, 11.622,5, 11.482,5L 4.499,5 c-0.143,0-0.27,0.069-0.361,0.176L 4.136,5.174 c-0.195,0.217-0.195,0.569,0,0.786l 3.499,3.877C 7.83,10.054, 8.146,10.054, 8.341,9.837z"></path></g></svg></div>
    <div class="find-pref-9" id="fp9">
      <%= link_to("/#{prefURL("沖縄県")}") do %>
      <p>沖縄県</p>
      <% end %>
    </div>
    </div>
  </div>
</div>
