<footer class="nav navbar-bottom hidden-xs">
  <div class="footer-under">
     <p id="footer-logo">Copyright © 2018 Playcal All Right Reserved.</p>
      <p id="footer-logo1"><%= link_to "Playcalとは",   about_path %></p>
      <p id="footer-logo2"><%= link_to "お問い合わせ", new_contacts_path %></p>
      <p id="footer-logo3"><%= link_to "ヘルプ", help_path %></p>
      <p class="fb-share-button" data-href="https://www.playcal.jp" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.playcal.jp%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></p>
      <p><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
  </div>
</footer>

<footer class="nav navbar-bottom visible-xs">
  <div class="footer-under">
    <p id="footer-logo">Copyright © 2018 Playcal All Right Reserved.</p>
    <div class="footer-under-smart">
      <div class="footer-logo12">
        <p id="footer-logo1"><%= link_to "Playcalとは",   about_path, :style =>"color: #5f9ea0;" %></p>
        <p id="footer-logo2"><%= link_to "お問い合わせ", new_contacts_path, :style =>"color: #5f9ea0;" %></p>
        <p id="footer-logo3"><%= link_to "ヘルプ", help_path %></p>
      </div>
      <p class="fb-share-button" data-href="https://www.playcal.jp" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.playcal.jp%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></p>
      <p><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
    </div>
  </div>
