<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to root_path do %>
        <span class="logo visible-xs">Playcal</span>
        <span class="logoPC hidden-xs">Playcal</span>
        <% end %>
        <nav>
        <ul class="nav navbar-nav navbar-right">
          <ul class="nonloggedin-right">
            <% if user_signed_in? %>
            <% if current_user.gender.present? %>
            <% if current_user.picture.present? %>
            <li class="hidden-xs"><%= image_tag(current_user.picture_url, :class => "header-picture") %></li>
            <% else %>
            <li class="hidden-xs"><%= image_tag('blank-profile-picture-973460_1280.png', :class => "header-picture") %></li>
            <% end %>
            <li class="hidden-xs"><div class="header-name" id="header-lists-1" onmouseover="headerListOver(1)" onmouseout="headerListOut(1)"><%= link_to current_user.name, current_user, id: "header-name" %></div></li>
            <li style="color: white; font-size: 12px;" class="hidden-xs" id="header-lists-2" onmouseover="headerListOver(2)" onmouseout="headerListOut(2)"><%= link_to "ホーム", root_path, id: "header-home" %></li>
            <li style="color: white; font-size: 12px;" class="hidden-xs" id="header-lists-3" onmouseover="headerListOver(3)" onmouseout="headerListOut(3)"><%= link_to "メッセージ", "/message", id: "header-message" %></li>

            <li class="notification hidden-xs">
              <div class="notification-bell JS-bell" id="header-lists-4" onmouseover="headerListOver(4)" onmouseout="headerListOut(4)">
                <p><%= current_user.notifications.where(read: false).count %></span>
              </div>
              <%= render 'layouts/notification2' %>
            </li>

            <li class="dropdown hidden-xs">
            <a href="#" class="btn  dropdown-toggle", data-toggle="dropdown">
            <span id="user-pop"><i class="fa fa-navicon fa-2x down-color"></i><span>
            </a>
              <ul class="dropdown-menu">
                <p><%= link_to 'テニスチャットカフェ', tourlists_path %></p>
                <p><%= link_to "募集する", posting_path %></p>
                <p><%= link_to "探す", find_path %></p>
                <p><%= link_to "プロフィール", current_user %></p>
                <p><%= link_to "プロフィールを編集する", edit_user_registration_path %></p>
                <p><%= link_to "設定", setting_path %></p>
                <li class="divider"></li>
                <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
                <% if current_user.id == 1 %>
                <p><%= link_to "管理者画面", rails_admin_path %></p>
                <% end %>
              </ul>
            </li>



              <div class="notification visible-xs">
                <i class="fa fa-bell fa-2x JS-bell"  id="bell" ontouchstart=""></i>
                <% if current_user.notifications.where(read: false).count != 0 %>
                <span class="JS-bell"><%= current_user.notifications.where(read: false).count %></span>
                <% end %>
                <%= render 'layouts/notification2' %>
              </div>

                <div class="smartphone-dropdown visible-xs">
                   <i class="fa fa-navicon fa-1.5x dropdown-hamberger" id="dropdown-fontawesome"></i>
                      <%= render 'layouts/dropdown' %>
                  </div>
                  <% end %>
            <% else %>
            <li  class="hidden-xs"><%= link_to "ホーム", root_path, id: "sub" %></li>
            <li  class="hidden-xs"><%= link_to "登録", new_user_registration_path, id: "sub" %></li>
            <li  class="hidden-xs"><%= link_to "ログイン", new_user_session_path, id: "sub" %></li>
            <div class="smartphone-dropdown visible-xs">
                <p><i class="fa fa-navicon fa-1.5x dropdown-hamberger"  id="dropdown-fontawesome"></i></p>
                <%= render 'layouts/dropdown' %>
              </div>
            <% end %>
            <% if user_signed_in? %>
            <% if current_user.gender.nil? %>
            <li class="hidden-xs"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, style: "color: #4c4c4c; font-weight: 600;" %></li>
              <div class="smartphone-dropdown visible-xs">
                <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete, style: "color: #4c4c4c; font-weight: 600;" %></p>
              </div>
            <% end %>
            <% end %>
            </ul>
          </ul>
        </nav>
      </div>
    </header>

    <script type="text/javascript">
    $(function() {
      var _touch = ('ontouchstart' in document) ? 'touchstart' : 'click';
      $('#dropdown-fontawesome').on(_touch, function () {
        $('.dropdown-modal-wrapper').slideDown();
      });

      $('#close-modal').on(_touch, function() {
        $('.dropdown-modal-wrapper').slideUp();
      });
    });

    $(function() {
      var _touch = ('ontouchstart' in document) ? 'touchstart' : 'click';
      $('.JS-bell').on(_touch, function() {
        $('.notification-wrapper').fadeIn();
      });
      $('.close-cross').on(_touch, function() {
        $('.notification-wrapper').fadeOut();
      });
    });

    $(function(){
    var _touch = ('ontouchstart' in document) ? 'touchstart' : 'click';
    $('#post-pop').on(_touch, function (){
        $('#post-modal').fadeIn();
    });

    $('.close-modal').on(_touch, function(){
        $('#post-modal').fadeOut();
    })
    });

    $(function() {
      var _touch = ('ontouchstart' in document) ? 'touchstart' : 'click';
      $('.reply').on(_touch, function () {
        $('.inbox-main-wrapper1').show();
        $('.inbox-main-wrapper2').hide();
        $('.reply').css('background-color','#ffd6d6');
        $('.no-reply').css('background-color','#fff');
        $('.reply p').css('color','#919191');
        $('.no-reply p').css('color','#919191');
        $('.no-reply').css('border', '1px solid #cfcfcf');
      });
      $('.no-reply').on(_touch, function () {
        $('.inbox-main-wrapper1').hide();
        $('.inbox-main-wrapper2').show();
        $('.no-reply').css('background-color','#ffd6d6');
        $('.reply').css('background-color','#fff');
        $('.reply p').css('color','#919191');
        $('.no-reply p').css('color','#919191');
        $('.reply').css('border', '1px solid #cfcfcf');
    });

    });



    $(function(){
    var _touch = ('ontouchstart' in document) ? 'touchstart' : 'click';
    $('#signin-pop').on(_touch, function (){
        $('#login-modal').fadeIn();
    });

    $('.close-modal').on(_touch, function(){
        $('#login-modal').fadeOut();
    })
    });

    $(function() {
      var _touch = ('ontouchstart' in document) ? 'touchstart' : 'click';
      $('.gender-JS').on('click', function() {
        $('.search-modal-wrapper').toggleClass('search-modal-display').fadeIn(400);
      })
      $('i#close-modal').on('click', function() {
        $('.search-modal-wrapper').toggleClass('search-modal-display').fadeOut(400);
      })
    })

    $(function() {
      var _touch = ('ontouchstart' in document) ? 'touchstart' : 'click';
      $('.user-post-recrut').on(_touch, function() {
        $('.user-post-show-2').show();
        $('.user-post-show-1').hide();
        $('.user-post-recrut').css('border-bottom', '4px solid #9cd75b');
        $('.user-post-recrut p').css('color', '#9cd75b');
        $('.user-post-count p').css('color', '#919191');
        $('.user-post-count').css('border-bottom', 'none');
      });

      $('.user-post-count').on(_touch, function() {
        $('.user-post-show-2').hide();
        $('.user-post-show-1').show();
        $('.user-post-count').css('border-bottom', '4px solid #9cd75b');
        $('.user-post-count p').css('color', '#9cd75b');
        $('.user-post-recrut p').css('color', '#919191');
        $('.user-post-recrut').css('border-bottom', 'none');
      });

    });

    $(function() {
      var _touch = ('ontouchstart' in document) ? 'touchstart' : 'click';
      $('#room-report').on(_touch, function () {
        $('.report-wrapper').show();
        });
        $('.report-close span').on(_touch, function () {
          $('.report-wrapper').hide();
        })
    })

    window.onpageshow = function(event) {
    	if (event.persisted) {
    		 window.location.reload();
    	}
    };

    $(function() {
     function readURL(input) {
       if (input.files && input.files[0]) {
         var reader = new FileReader();
         reader.onload = function (e) {
           $('#edit-pic').attr('src', e.target.result);
         }
         reader.readAsDataURL(input.files[0]);
       }
     }
     $(".edit-img").change(function(){
       readURL(this);
     });
    });

    $(function() {
      $('#user-menu').on('click', function() {
        $('.user-show-menu-wrap').toggleClass('user-menu-toggle').slideToggle(400);;
      })
    })



    function postList(number) {
      let pl = document.querySelector('.post-menu-list-' + number )
      var style = (pl.currentStyle || document.defaultView.getComputedStyle(pl, ''));
      if (style.display == "none") {
        pl.style.display = "block";
      } else if (style.display == "block") {
        pl.style.display = "none";

      }
    };

    function postList2(number1) {
      let pl = document.querySelector('.post-menu-list1-' + number1 )
      var style = (pl.currentStyle || document.defaultView.getComputedStyle(pl, ''));
      if (style.display == "none") {
        pl.style.display = "block";

      } else if (style.display == "block") {
        pl.style.display = "none";

      }
    };
    </script>
