<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to root_path do %>
        <span class="logo visible-xs">Playcal</span>
        <span class="logoPC hidden-xs">Playcal</span>
        <% end %>
        <nav>
        <ul class="nav navbar-nav navbar-right">
          <ul class="nonloggedin-right">
            <% if user_signed_in? %>
            <% if current_user.gender.present? %>
            <% if current_user.picture.present? %>
            <li class="hidden-xs"><%= image_tag(current_user.picture_url, :class => "header-picture") %></li>
            <% else %>
            <li class="hidden-xs"><%= image_tag('blank-profile-picture-973460_1280.png', :class => "header-picture") %></li>
            <% end %>
            <li class="hidden-xs"><div class="header-name" id="header-lists-1" onmouseover="headerListOver(1)" onmouseout="headerListOut(1)"><%= link_to current_user.name, current_user, id: "header-name" %></div></li>
            <li style="color: white; font-size: 12px;" class="hidden-xs" id="header-lists-2" onmouseover="headerListOver(2)" onmouseout="headerListOut(2)"><%= link_to "ホーム", root_path, id: "header-home" %></li>
            <li style="color: white; font-size: 12px;" class="hidden-xs" id="header-lists-3" onmouseover="headerListOver(3)" onmouseout="headerListOut(3)"><%= link_to "メッセージ", "/message", id: "header-message" %></li>

            <li class="notification hidden-xs">
              <div class="notification-bell JS-bell" id="header-lists-4" onmouseover="headerListOver(4)" onmouseout="headerListOut(4)">
                <p><%= current_user.notifications.where(read: false).count %></span>
              </div>
              <%= render 'layouts/notification2' %>
            </li>

            <li class="dropdown hidden-xs">
            <a href="#" class="btn  dropdown-toggle", data-toggle="dropdown">
            <span id="user-pop"><i class="fa fa-navicon fa-2x down-color"></i><span>
            </a>
              <ul class="dropdown-menu">
                <p><%= link_to 'テニスチャットカフェ', tourlists_path %></p>
                <p><%= link_to "募集する", posting_path %></p>
                <p><%= link_to "探す", find_path %></p>
                <p><%= link_to "プロフィール", current_user %></p>
                <p><%= link_to "プロフィールを編集する", edit_user_registration_path %></p>
                <p><%= link_to "設定", setting_path %></p>
                <li class="divider"></li>
                <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
                <% if current_user.id == 1 %>
                <p><%= link_to "管理者画面", rails_admin_path %></p>
                <% end %>
              </ul>
            </li>



              <div class="notification visible-xs">
                <i class="fa fa-bell fa-2x JS-bell"  id="bell" ontouchstart=""></i>
                <% if current_user.notifications.where(read: false).count != 0 %>
                <span class="JS-bell"><%= current_user.notifications.where(read: false).count %></span>
                <% end %>
                <%= render 'layouts/notification2' %>
              </div>

                <div class="smartphone-dropdown visible-xs">
                   <i class="fa fa-navicon fa-1.5x dropdown-hamberger" id="dropdown-fontawesome" ontouchstart=""></i>
                      <%= render 'layouts/dropdown' %>
                  </div>
                  <% end %>
            <% else %>
            <li  class="hidden-xs"><%= link_to "ホーム", root_path, id: "sub" %></li>
            <li  class="hidden-xs"><%= link_to "登録", new_user_registration_path, id: "sub" %></li>
            <li  class="hidden-xs"><%= link_to "ログイン", new_user_session_path, id: "sub" %></li>
            <div class="smartphone-dropdown visible-xs">
                <p><i class="fa fa-navicon fa-1.5x dropdown-hamberger"  id="dropdown-fontawesome"></i></p>
                <%= render 'layouts/dropdown' %>
              </div>
            <% end %>
            <% if user_signed_in? %>
            <% if current_user.gender.nil? %>
            <li class="hidden-xs"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, style: "color: #4c4c4c; font-weight: 600;" %></li>
              <div class="smartphone-dropdown visible-xs">
                <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete, style: "color: #4c4c4c; font-weight: 600;" %></p>
              </div>
            <% end %>
            <% end %>
            </ul>
          </ul>
        </nav>
      </div>
    </header>
