<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Playcal", root_path, id: "logo" %>

        <nav>
        <ul class="nav navbar-nav navbar-right">
          <ul class="nonloggedin-right">
            <% if user_signed_in? %>
            <% if current_user.picture.present? %>
            <li class="hidden-xs"><%= image_tag(current_user.picture_url, :class => "header-picture") %></li>
            <% else %>
            <li class="hidden-xs"><%= image_tag('blank-profile-picture-973460_1280.png', :class => "header-picture") %></li>
            <% end %>
            <li class="hidden-xs"><div class="header-name"><%= link_to current_user.name, current_user, id: "header-name" %></div></li>
            <li style="color: white; font-size: 12px;" class="hidden-xs"><%= link_to "ホーム", root_path, id: "header-home" %></li>
            <li style="color: white; font-size: 12px;" class="hidden-xs"><%= link_to "メッセージ", "/inbox", id: "header-message" %></li>

            <li class="dropdown hidden-xs">
            <a href="#" class="btn  dropdown-toggle", data-toggle="dropdown">
            <span id="user-pop"><i class="fa fa-navicon fa-2x down-color"></i><span>
            </a>
          
              <ul class="dropdown-menu">
                <p><%= link_to "募集する", posting_path %></p>
                <p><%= link_to "探す", find_path %></p>
                <p><%= link_to "プロフィール", current_user %></p>

                <p><%= link_to "プロフィールを編集する", edit_user_registration_path %></p>
                <li class="divider"></li>
                <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
                <p><%= link_to "退会", user_registration_path, id: "dropdown-list", method: :delete %></p>
                <% if current_user.id == 1 %>
                <p><%= link_to "管理者画面", rails_admin_path %></p>
                <% end %>

              </ul>
              </li>

              <div class="smartphone-dropdown visible-xs">
                  <p><i class="fa fa-navicon fa-1.5x down-color"  id="dropdown-fontawesome"></i></p>

                    <%= render 'layouts/dropdown' %>
                </div>


            <% else %>
            <li  class="hidden-xs"><%= link_to "ホーム", root_path, id: "sub" %></li>
            <li  class="hidden-xs"><%= link_to "登録", new_user_registration_path, id: "sub" %></li>
            <li  class="hidden-xs"><span id="signin-pop">ログイン</span></li>

            <div class="smartphone-dropdown visible-xs">
                <p><i class="fa fa-navicon fa-1.5x down-color"  id="dropdown-fontawesome"></i></p>
                <%= render 'layouts/dropdown' %>
              </div>


            <% end %>
            </ul>
          </ul>
        </nav>
      </div>
    </header>
