<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag 'playcal-logo.png'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />

    <link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@PlaycalOfficial"/>
    <meta property="og:url" content="https://www.playcal.jp"/>
    <meta property="og:title" content="「シンプルで簡単に」テニスの練習相手や仲間が見つかる"/>
    <meta property="og:description" content="テニスをより楽しく、より上手に。テニスのマッチングサービス「Playcal」でテニスの練習相手や仲間を見つけてみませんか？"/>
  </head>
  <body ontouchstart="">
    <div id='fakeloader'  class="fakeloader"></div>
    <%= render 'layouts/header' %>
    <div class="body-main">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
