<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag 'playcal-logo.png'%>
    <meta property="fb:app_id" content="2262468903996625" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127371510-1"></script>
    <script>
    window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-127371510-1');
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-5276826909376331",
            enable_page_level_ads: true
       });
  </script>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.2&appId=2262468903996625&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <meta name="google-site-verification" content="ZYNQ3fXFZPpi0z3_7cYzPAhLicqOhb-04AKgGO4ovZU" />
    <link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet">
    <meta name="google-site-verification" content="xTlX7ksziRvNkZSEX5TXeFH-vtMMmOZscowwFjfxYn4" />
    <link rel="stylesheet" href="assets/css/fakeLoader.css">
    <script src="assets/fakeloader/fakeLoader.js"></script>
  </head>
  <body ontouchstart="">
    <div id='fakeloader'  class="fakeloader"></div>
    <%= render 'layouts/header' %>
     <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
