<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag 'playcal-logo.png'%>
    <meta property="fb:app_id" content="2262468903996625" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127371510-1"></script>
    <script>
    window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-127371510-1');
  </script>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-5276826909376331",
            enable_page_level_ads: true
       });
  </script>

  <script async custom-element="amp-auto-ads"
        src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>

    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.japan-map.min.js"></script>
    <link href="sticky-footer.css" rel="stylesheet">
    <meta name="google-site-verification" content="ZYNQ3fXFZPpi0z3_7cYzPAhLicqOhb-04AKgGO4ovZU" />
    <link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet">
  </head>
  <body>
    <%= render 'layouts/header' %>
     <%= yield %>
     <amp-auto-ads type="adsense"
                   data-ad-client="ca-pub-5276826909376331">
     </amp-auto-ads>
    <%= render 'layouts/footer' %>
  </body>
</html>
